<%= javascript_include_tag 'html2canvas' %>
<div class="container-fuild" style="padding-top: 24px;">
  <div class="row">
    <div class="col m2 s12 controll-panel-container">
      <div class="page-slider" style="margin-top: 80px;">
        <div class="col s12 simulator-fixed" style="height: 100%; margin-bottom: 24px;" dataPage="mobile" id="select-page">
          <div class="simulator-sidebar">
            <div class="block-label">
              <span class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="你的學校代碼"><%= current_user.organization_code %></span> - 
              加課程吧
            </div>
            <div class="simulator-sidebar-inner">
              <div class="course-search-field">
                <div class="course-search-field-inner">
                  <form class="search-method-select-form">
                    <select class="browser-default" id="search-method-select">
                      <option value="name" selected>課程名稱搜尋</option>
                      <option value="lecturer">老師名字搜尋</option>
                      <option value="general_code">課程代碼搜尋</option>
                    </select>
                  </form>
                  <form class="course-search-form">
                    <input id="course-searchbox" class="course-searchbox" type="search" placeholder="選擇上方搜尋方式並輸入關鍵字">
                    <label for="course-searchbox">
                      <i class="material-icons">search</i>
                    </label>
                  </form>
                </div>
              </div>
              <div class="course-select-field">
                <div class="simulator-search-result">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 simulator-fixed" style="height: 100%;" dataPage="mobile" id="has-selected-page">
          <div class="course-hasselect-field" id="course-hasselect-field">
            <div class="block-label">
              已選課程 - 
              <span  class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="目前修課的學分數">
                <i class="material-icons">star</i>
                <span class="credits-total">20</span>
              </span>
              <span  class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="與你同班的女生數">
                <%= image_tag ('female.png') %>
                <span class="female-counter">100</span>
              </span>
              <span  class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="與你同班的男生數">
                <%= image_tag ('male.png') %>
                <span class="male-counter">100</span>
              </span>
            </div>
            <div class="course-hasselect-field-inner">
              <% @user_courses.each do |item| %>
                <div class="course-hasselect-item">
                  <div class="name">
                    course_name
                  </div>
                  <div class="lecturer">lecturer_name</div>
                  <div class="code">course_code</div>
                  <br>
                  <div class="time">course_time</div>
                  <div class="location">course.location</div>
                  <div class="credits">course.credits</div>
                  <button class="remove-hasselect-course"><i class="material-icons">clear</i></button>
                  <div class="item-id" iid="<%= item.id %>"></div>
                  <div class="item-course-id" icd="<%= item.course_code %>"></div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col m10 s12 simulator-fixed-calendar active" dataPage="mobile" id="calendar-page">
      <div class="page-slider">
        
        <div style="clear: both;"></div>
        <div class="simulator-table-field" style="padding-top: 0 !important;">
          <a class="share-simulator-btn btn btn--small"><i class="material-icons">share</i>分享課表</a>
          <a class="copy-course-btn btn btn--small" id="copy-course-btn"><i class="material-icons">content_copy</i>複製代碼</a>
          <a class="user-guide-btn btn btn--small modal-trigger" href="#modal2"><i class="material-icons">info_outline</i>使用教學</a>
          <% if current_user.organization_code == 'NTUST' %>
          <a class="open-map-btn btn btn--small" id="open-map-btn"><i class="material-icons">map</i>校園地圖</a>
          <% end %>
          <table class="simulator-table" id="simulator-table">
            <thead>
              <tr>
                <th></th>
                <th class="th1">一</th>
                <th class="th2">二</th>
                <th class="th3">三</th>
                <th class="th4">四</th>
                <th class="th5">五</th>
                <th class="th6">六</th>
                <th class="th7">日</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-title">
    <h5><span class="modal-course-name"></span> - <span class="modal-course-lecturer"></span></h5>
  </div>
  <div class="modal-content">
    <ul class="collection">
      <li class="collection-item">學分： <span class="modal-course-credits"></span></li>
      <li class="collection-item">課程代號： <span class="modal-course-general-code"></span></li>
      <li class="collection-item">課程網站： <a class="modal-course-link" href="" target="_blank">前往課程網站</a></li>
      <li class="collection-item">課程地點： <span class="modal-course-location"></span></li>
    </ul>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6"><a class="active" href="#modal-selected-users">同班同學</a></li>
          <li class="tab col s6"><a href="#modal-course-comments">課程評論</a></li>
          <!--<li class="tab col s4"><a href="#modal-course-wiki">課程維基</a></li>-->
        </ul>
      </div>
      <div id="modal-selected-users" class="col s12">
        <div class="users-on-course-list" id="users-on-course-list">
          <ul>
          </ul>
        </div>
      </div>
      <div id="modal-course-comments" class="col s12"> 
        <div id="course-comments">
        </div>
      </div>
      <!--
      <div id="modal-course-wiki" class="col s12">
        <p style="text-align: center;">敬請期待</p>
      </div>
      -->
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="LeanOverlayClose()">關閉</a>
    <a class="modal-action btn-flat" cid="" id="modal-del-btn" onclick="LeanOverlayClose()">移除</a>
    <a class="modal-action btn-flat" cid="" id="modal-add-btn" onclick="LeanOverlayClose()">加課</a>
    <a class="modal-action btn-flat" id="modal-course-comment-btn">評論</a>
  </div>
</div>

<div id="modal2" class="modal modal-fixed-footer">
  <div class="modal-title">
    <h5>使用教學</h5>
  </div>
  <div class="modal-content">
    <div>
      <%= image_tag('user-guide.jpg') %>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">我知道了</a>
  </div>
</div>

<div id="modal3" class="modal modal-fixed-footer">
  <div class="modal-title">
    <h5>複製課程代碼</h5>
  </div>
  <div class="modal-content">
    <p>你可以在這邊看到你所有選擇的課程和課程代碼，可以直接點擊複製到你的選課系統中貼上，再也不用反白按右鍵，快速好方便 :D</p>
    <div class="course-copy-table-container">
      <table id="course-copy-table">
        <thead>
          <tr>
            <th>課程名稱</th>
            <th>課程老師</th>
            <th>課程代碼</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">關閉</a>
  </div>
</div>

<div class="mobile-bottom-nav">
  <div class="mobile-nav-btn btn-1" id="calendar-trigger">
    <i class="material-icons">dashboard</i>
    已選課表
  </div>
  <div class="mobile-nav-btn btn-2" id="select-trigger">
    <i class="material-icons">search</i>
    課程選擇
  </div>
  <div class="mobile-nav-btn btn-3" id="has-selected-trigger">
    <i class="material-icons">view_list</i>
    已選課程
  </div>
</div>

<div id="simulator-help-btn" class="simulator-help-btn">
  <a href="https://lucas51.typeform.com/to/duGQcX" class="typeform-share tooltipped" data-mode="1" target="_blank"  data-position="top" data-delay="0" data-tooltip="問題回報區，有什麼問題都可以在這裡回報給 Colorgy"><i class="material-icons">help_outline</i></a>
</div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
<div class="mobile-add-course-btn" id="select-trigger2">
  <i class="material-icons">add</i>
</div>
<a class="share-simulator-btn btn btn--small mobile"><i class="material-icons">share</i></a>
<div class="course-comment-form-container" id="course-comment-form-container">
  <%= render "course_comments/form" %>
</div>


<div class="school-map-container">
  <a class="close-school-map-btn"><i class="material-icons">close</i></a>
</div>

<script>
  $('.close-school-map-btn').click(function(){
    $('.school-map-container').removeClass('active');
  });

  $('#open-map-btn').click(function(){
    var map_image_url = '<%= image_path( 'school-maps/' + current_user.organization_code + '.jpg' ) %>';
    if($('.school-map-container img').length == 0){
      $('.school-map-container').append('<img src="' + map_image_url + '">');
    }
    $('.school-map-container').addClass('active');
  });

  $('#copy-course-btn').click(function(){
    $('#course-copy-table tbody').html('');
    var courseCount = $('.course-hasselect-item').length;
    $('.course-hasselect-item').each(function(){
      var course_name = $(this).children('.name').text();
      var course_code = $(this).children('.code').text();
      var course_lecturer = $(this).children('.lecturer').text();

      $('<tr><td>'+ course_name +'</td><td>' + course_lecturer +'</td><td id="copy-' + course_code +'">' + course_code + '</td><td><a class="btn btn--small copy-course-code-btn" course-code="'+ course_code +'">複製</a></td></tr>').appendTo('#course-copy-table tbody');
    });
    $('#modal3').openModal();
  })

  $(document).on('click', '.copy-course-code-btn' ,function(){
    var course_code = $(this).attr('course-code');
    copyToClipboard('#copy-' + course_code);
  })

  function copyToClipboard(element) {
    $("body").append("<input type='text' id='temp' style='position:absolute;opacity:0;'>");
    $("#temp").val($(element).text()).select();
    document.execCommand("copy");
    $("#temp").remove();
    flash.success('成功複製');
  }

  function LeanOverlayClose(){
    $('div[id="lean-overlay"]').remove();
    $('div[class="lean-overlay"]').remove();
  }

  image_url = null;
  function initShare() {
    _origin = window.location.origin + "<%= user_path(current_user) %>";
    url = "https://www.facebook.com/sharer/sharer.php?"
      + "u=" + encodeURIComponent(_origin);
    //window.open(url, 'facebook-share-dialog', 'status=0,width=626,height=436');

    FB.ui(
      {
        method: 'share',
        href: _origin,
      }
    );
  }

  $('.share-simulator-btn').click(function(){
    initShare();
    html2canvas($('.simulator-table') , {
      onrendered: function(canvas) {
        imagestring = canvas.toDataURL("image/png");
        $.post('/upload', {"image": imagestring, 'user_id': <%= current_user.id %>}, function(data) {
          image_url = data["simulator_image_url"];
          //$('#canvas-result-inner').attr('href', image_url);
          //$('#canvas-result-inner').attr('target', '_blank');
        });
      }
    });
  })


  $('#modal-course-comment-btn').click(function(){
    $('.course-comment-form-container').addClass('active');
  })
  $('#course-comment-form-container-close').click(function(){
    $('.course-comment-form-container').removeClass('active');
  })
// Mobile Mode Nav Control
// 手機模式下方的選單，點擊一個btn之後可以讓其他btn失效，達成tabs的效果。
  $(window).load(function(){
    $('#calendar-page').addClass('active');
    $('#calendar-trigger').click(function(){
      $('div[dataPage = "mobile"]').removeClass('active');
      $('#calendar-page').addClass('active');
    })
    $('#select-trigger').click(function(){
      $('div[dataPage = "mobile"]').removeClass('active');
      $('#select-page').addClass('active');
    })
    $('#select-trigger2').click(function(){
      $('div[dataPage = "mobile"]').removeClass('active');
      $('#select-page').addClass('active');
    })
    $('#has-selected-trigger').click(function(){
      $('div[dataPage = "mobile"]').removeClass('active');
      $('#has-selected-page').addClass('active');
    })
  })

//

$('#course-hasselect-field-trigger').click(function(){
  $('#course-hasselect-field').toggleClass('active');
})

//
// 製作當滑鼠移到 td 上方時，底下被選的課程會從原本被堆疊的狀態展開。
// 反之，當滑鼠移開時，課程會收起來。
//
$(document).on('mouseover' ,'.simulator-table td', function(e){
  var coursecount = $(this).children('.simulator-table-course').length;
  var tdHeight = (coursecount * 35) + 16 + (coursecount - 1);
  var course_position = 0;
  var first_course_position = (coursecount / 2 - 0.5 ) * 35 * -1;
  if(coursecount >= 2){
    $(this).css({
      'height' : tdHeight + 'px'
    })
    $(this).children('.simulator-table-course:nth-child(1)').css({
      'top' : first_course_position + 'px'
    });
    for(i = 2; i <= coursecount ; i++ ){
      course_position = 8 + ((i - 1)*35) + (i - 1);
      $(this).children('.simulator-table-course:nth-child(' + i + ')').css({
        'transform' : 'rotate(0deg)',
        '-moz-transform' : 'rotate(0deg)',
        '-o-transform' : 'rotate(0deg)',
        '-ms-transform' : 'rotate(0deg)',
        '-webkit-transform' : 'rotate(0deg)',
        'top' : course_position + 'px'
      });
    }
  }
})
$(document).on('mouseout' ,'.simulator-table td',function(e){
  var coursecount = $(this).children('.simulator-table-course').length;
  if(coursecount >= 2){
    $(this).css({
      'height' : ''
    })
    $(this).children('.simulator-table-course:nth-child(1)').css({
      'top' : ''
    });
    var degreebase = 7.5;
    var degree = 0;
    for(i = 2; i <= coursecount ; i++ ){
      degree = degreebase * (i - 1);
      $(this).children('.simulator-table-course:nth-child(' + i + ')').css({
        'transform' : 'rotate(' + degree + 'deg)',
        '-moz-transform' : 'rotate(' + degree + 'deg)',
        '-o-transform' : 'rotate(' + degree + 'deg)',
        '-ms-transform' : 'rotate(' + degree + 'deg)',
        '-webkit-transform' : 'rotate(' + degree + 'deg)',
        'top' : '7.5px'
      });
    }
  }
})

// Fetch 課表的課堂節次資料

function FetchCourseNode(){

  var school_code = '<%= current_user.organization_code.downcase %>';
  var getCourseUri = 'https://colorgy.io/api/v1/' + school_code + '_period_data.json';
  $.get(getCourseUri, function(data_response){

    for(i=0 ; i <= data_response.length - 1 ; i++){
      var course_node = data_response[i];
      var course_node_order = course_node.order;
      var course_node_code = course_node.code;

      $('<tr class="class' + course_node_code + '"><td>' + course_node_code + '</td><td class="M0 day1 period' + course_node_order +'"></td><td class="T0 day2 period'+ course_node_order +'"></td><td class="W0 day3 period'+ course_node_order +'"></td><td class="R0 day4 period'+ course_node_order +'"></td><td class="F0 day5 period'+ course_node_order +'"></td><td class="S0 day6 period'+ course_node_order +'"></td><td class="Sun0 day7 period'+ course_node_order +'"></td></tr>').prependTo('#simulator-table tbody');

    }
  })

}

// 檢測課程評論的數量，如果等於0的話放入評論數是零的訊息

function CourseCommentCounter(){
  var count = $('.course-comment').length;
  if (count == 0){
    $('#course-comments').html('<p class="course-comment-empty-message" style="text-align: center;"><i class="material-icons">face</i>目前沒有評論唷！可以按下方 "評論此課" 按鈕進行評論</p>');
  }
  else{
    $('.course-comment-empty-message').remove();
  }
}

// 把課程評論的評分，依照數字換成星星圖像。

function CourseCommentRatingRenderStar(){
  $('.course-comment-rating').each(function(){
    var rating = $(this).attr('rating');
    var rating_count = parseInt(rating);
    var unrating_count = 5 - rating_count;

    $(this).html('');

    for(i = 1; i<= rating_count ; i++){
      $(this).append('<i class="material-icons">star</i>');
    }
    for(j = 1; j<= unrating_count ; j++){
      $(this).append('<i class="material-icons">star_border</i>');
    }
  })
}
//
// 當一個 td 底下有超過一個課程之後，加入衝堂的css狀態，並且加上堆疊效果。
//
function CourseConflictTest(){
  $('.simulator-table td').each(function(){
    var coursecount = $(this).children('.simulator-table-course').length;
    $(this).children('.simulator-table-course:nth-child(1)').removeClass('course-conflict-pack').css({
        'transform' : '',
        '-moz-transform' : '',
        '-o-transform' : '',
        '-ms-transform' : '',
        '-webkit-transform' : '',
        'top' : '0'
      });
    if (coursecount >= 2) {
      $(this).children('.simulator-table-course').addClass('course-conflict');
      var degreebase = 7.5;
      var degree = 0;
      for( i = 2; i <= coursecount ; i ++){
        degree = degreebase * (i - 1);
        $(this).children('.simulator-table-course:nth-child(' + i +')').addClass('course-conflict-pack').css({
          'transform' : 'rotate(' + degree + 'deg)',
          '-moz-transform' : 'rotate(' + degree + 'deg)',
          '-o-transform' : 'rotate(' + degree + 'deg)',
          '-ms-transform' : 'rotate(' + degree + 'deg)',
          '-webkit-transform' : 'rotate(' + degree + 'deg)'
        });
      };
    }else{
      $(this).children('.simulator-table-course:nth-child(1)').removeClass('course-conflict').css({
        'transform' : '',
        '-moz-transform' : '',
        '-o-transform' : '',
        '-ms-transform' : '',
        '-webkit-transform' : ''
      });
    }
  });
}
//
// 取得統計數據，統計目前的學分數、一起上課的男生女生數。
//
function getStatistics(){
  var male_total = 0;
  var female_total = 0;
  var credits_total = 0;
  var current_user_gender = '<%= current_user.gender %>';
  var current_user_course_count = $('.course-hasselect-item').length;

  $('.course-hasselect-item').each(function(){
    var male_counter = parseInt($(this).children('.item-course-id').attr('male-counter'));
    var female_counter = parseInt($(this).children('.item-course-id').attr('female-counter'));
    var credits_counter = parseInt($(this).children('.credits').text());
    male_total = male_total + male_counter;
    female_total = female_total + female_counter;
    credits_total = credits_total + credits_counter;
  })

  if(current_user_gender == 'male'){
    $('.female-counter').html(female_total);
    $('.male-counter').html(male_total - current_user_course_count);
  }else{
    $('.female-counter').html(female_total - current_user_course_count);
    $('.male-counter').html(male_total);
  }

  $('.credits-total').html(credits_total);
}


function getCourseUsers(){

  if($('.item-course-id').length > 0){
    $('.item-course-id').each(function(){
      var course_code = $(this).attr('icd');
      var url = '<%= course_users_path %>' + '/' + course_code;

      $.get(url, function(response){
        male_count = response["course_male_counter"];
        female_count = response["course_female_counter"];

        $(this).attr('male-counter', male_count);
        $(this).attr('female-counter', female_count);
        getStatistics();

      }.bind(this))
    })
  }else{
    $('.credits-total').html(0);
    $('.female-counter').html(0);
    $('.male-counter').html(0);
  }

}

function splitACourse() {
  var courseHasselectItem = $('.course-hasselect-item');
  courseHasselectItem.each(function(){
    var course_code = $(this).children(".item-course-id").attr('icd');
    var school_code = '<%= current_user.organization_code.downcase %>';

    var getCourseUri = 'https://colorgy.io/api/v1/'+ school_code +'/courses.json?' +
        'filter[code]=' + course_code
    $.get(getCourseUri, function(course_response){
      var course = course_response[0];
      var course_name = course.name;
      var course_lecturer = course.lecturer;
      var course_general_code = course.general_code;
      var credits = course.credits;
      var course_code = course.code;

      $(this).children('.name').html(course_name);
      $(this).children('.lecturer').html(course_lecturer);
      $(this).children('.code').html(course_general_code);
      $(this).children('.credits').html(credits);

    }.bind(this))
  });

  var courseItem = $('.course-hasselect-item');
  courseItem.each(function(){
    var school_code = '<%= current_user.organization_code.downcase %>';
    var course_code = $(this).children(".item-course-id").attr('icd');
    var getCourseUri = 'https://colorgy.io/api/v1/'+ school_code +'/courses.json?' +
        'filter[code]=' + course_code;
    var item_id = $(this).children('.item-id').attr('iid');

    $.get(getCourseUri, function(course_response){

      var course = course_response[0];
      var course_name = course.name;
      //var course_time = course["course_time"];
      var course_lecturer = course.lecturer;
      var course_general_code = course.general_code;
      var course_code = course.code;
      var credits = course.credits;
      //var item_id = $(this).children(".item-id").attr('iid');
      //var course_times = $(this).children(".time").text().split(" ");
      //var counter = course_times.length;
      for (var i = 1; i <= 9; i++) {
        var thisCourse_day = course['day_' + i];
        var thisCourse_period = course['period_' + i];
        var thisCourse_location = course['location_' + i];
        $('<div class="simulator-table-course active" iid="' + item_id +'" icd="' + course_code + '">' + course_name + '</div>').appendTo('.day'+ thisCourse_day + '.period' + thisCourse_period );
        };
        CourseConflictTest();
        getCourseUsers();

      });
  });
};

FetchCourseNode();
splitACourse();
CourseConflictTest();
getCourseUsers();

$(document).on({
    mouseenter: function () {
        //stuff to do on mouse enter
        course_code = $(this).children('.course-id').attr('cid');
        var school_code = '<%= current_user.organization_code.downcase %>';
        var getCourseUri = 'https://colorgy.io/api/v1/' + school_code + '/courses.json?' +
        'filter[code]=' + course_code;
    $.get(getCourseUri, function(course_response){

      var course = course_response[0];
      var course_name = course.name;
      //var course_time = course["course_time"];
      var course_lecturer = course.lecturer;
      var course_general_code = course.general_code;
      var course_code = course.code;
      var credits = course.credits;
      $('.simulator-table-course.on-hover').remove();
      //var item_id = $(this).children(".item-id").attr('iid');
      //var course_times = $(this).children(".time").text().split(" ");
      //var counter = course_times.length;
      for (var i = 1; i <= 9; i++) {
        var thisCourse_day = course['day_' + i];
        var thisCourse_period = course['period_' + i];
        var thisCourse_location = course['location_' + i];
        $('<div class="simulator-table-course active on-hover" icd="' + course_code + '">' + course_name + '</div>').css({ 'z-index' : '998' }).appendTo('.day'+ thisCourse_day + '.period' + thisCourse_period );
        };
        CourseConflictTest();
      });
    },
    mouseleave: function () {
        //stuff to do on mouse leave
        $('.simulator-table-course.on-hover').remove();
        CourseConflictTest();
    }
}, ".course-select-item");

//
// 點選已排課表開啟 modal
//

$(document).on('click', '.simulator-table-course', function(){
  
  $('#preloader-wrapper').addClass('active');
  $('.course-comment').remove();
  var course_code = $(this).attr('icd');


  var ifselected = false;

  $('.item-course-id').each(function(){
    if (course_code == $(this).attr('icd')) {
      ifselected = true;
    }
  })

  if (ifselected) {
    $('#modal-add-btn').addClass('hide');
    $('#modal-del-btn').removeClass('hide');
  }else{
    $('#modal-add-btn').removeClass('hide');
    $('#modal-del-btn').addClass('hide');
  };

  var item_id = $(this).attr('iid');
  var school_code = '<%= current_user.organization_code.downcase %>';
  var getCourseUri = 'https://colorgy.io/api/v1/'+ school_code + '/courses.json?' +
      'filter[code]=' + course_code;
  $.get(getCourseUri , function(course_response){
    var course = course_response[0]
    var course_name = course.name;
    var course_year = course.year;
    var course_term = course.term;
    //var course_time = course["course_time"];
    var course_lecturer = course.lecturer;
    var course_general_code = course.general_code;
    var course_organization_code = school_code.toUpperCase();
    var course_code = course.code;
    var credits = course.credits;
    var website_url = course.url;
    $('.modal-course-location').html('');

    // Course location
    for (var i = 1 ; i <= 9; i++) {
      var thisCourse_day = course['day_' + i];
      if(thisCourse_day != '' && thisCourse_day != null){

        var thisCourse_period = course['period_' + i];
        var thisCourse_location = course['location_' + i];
        var getCourseNodeUri = 'https://colorgy.io/api/v1/' + school_code + '_period_data.json?filter%5Border%5D=' + thisCourse_period + '#' + thisCourse_day;
        
        
        $.get(getCourseNodeUri, function(data_response){
          
          var thisCourse_day = parseInt(getCourseNodeUri.split('#')[1]);
          var data_response = data_response[0];
          var thisCourse_node = data_response.code;
          var location_string = ('<span class="modal-course-location-item">星期' + thisCourse_day + ' 第' + thisCourse_node + '節' + ' (' + thisCourse_location +  ')</span>');
          $('.modal-course-location').append(location_string);

        });
      }
    };

    
    $('.modal-course-name').html(course_name);
    $('.modal-course-general-code').html(course_general_code);
    $('.modal-course-credits').html(credits);
    $('.modal-course-lecturer').html(course_lecturer);
    $('.modal-course-link').attr('href', website_url);
    $('#modal-del-btn').attr('iid', item_id);
    $('#modal1').attr('course-code', course_code);
    $('#modal1').attr('course-general-code', course_general_code);
    $('#modal1').attr('course-organization-code', course_organization_code);
    $('#modal1').attr('year', course_year);
    $('#modal1').attr('term', course_term);
    $('#modal1').openModal();



    var course_general_code = $('#modal1').attr('course-general-code');
    var getCourseCommentsUri = '<%= search_course_comments_path %>' + '?course_general_code=' + course_general_code;


    $.get(getCourseCommentsUri , function(comments_response){
      $.each(comments_response["course_comments"], function(u, comment){
        var comment_body = comment.body;
        var comment_rating = comment.rating;
        var comment_user_id = comment.user_id;
        var comment_user_name = comment.user_name;
        var comment_user_avatar_url = comment.user_avatar_url;
        var comment_create_time = comment.created_at.substr(0,10);
        var comment_anonymous = comment.anonymous;

        if(comment_anonymous){
          comment_user_avatar_url = 'https://placehold.it/500x500';
          comment_user_name = '匿名者';
        }

        $('<div class="course-comment"><div class="user-info"><span class="user-avatar"><img src="' + comment_user_avatar_url + '"></span><span class="user-name">' + comment_user_name +'</span><div class="course-comment-rating" rating="' + comment_rating + '"></div><small>' + comment_create_time + '</small></div><div class="course-comment-body">' + comment_body +'</div></div>').appendTo('#course-comments');

      })
      CourseCommentRatingRenderStar();
      CourseCommentCounter();
    })
  });

  var getUserCourseUri = '<%= course_users_path %>/' + course_code;

  $.get(getUserCourseUri , function(users_response){
    $('#users-on-course-list li').remove();
    $.each( users_response["course_users"] , function(u, user){
      var user_avatar_url = user.avatar_url;
      var user_fb_id = user.fbid;
      var user_id = user.id;

      $('<li><a href="<%= users_path %>/' + user_id +'"><img src="' + user_avatar_url +'"></a></li>').appendTo('#users-on-course-list ul');
      replaceErrorImageUrl();
    })
    $('#preloader-wrapper').removeClass('active');
  });
});

//
// 點選搜尋到的課程列表中的 "課程名稱" 開啟 modal
//

$(document).on('click', '.course-select-item .name', function(){
  $('#preloader-wrapper').addClass('active');
  $('.course-comment').remove();
  var course_code = $(this).siblings('.course-id').attr('cid');

  var ifselected = false;

  $('.item-course-id').each(function(){
    if (course_code == $(this).attr('icd')) {
      ifselected = true;
    }
  })

  if (ifselected) {
    $('#modal-add-btn').addClass('hide');
    $('#modal-del-btn').removeClass('hide');
    var item_id = $('.item-course-id[icd="' + course_code +'"]').siblings('.item-id').attr('iid');
    $('#modal-del-btn').attr('iid',item_id);
  }else{
    $('#modal-add-btn').removeClass('hide');
    $('#modal-del-btn').addClass('hide');
  };


  var school_code = '<%= current_user.organization_code.downcase %>';
  var getCourseUri = 'https://colorgy.io/api/v1/'+ school_code + '/courses.json?' +
      'filter[code]=' + course_code;
  $.get(getCourseUri , function(course_response){
    var course = course_response[0]
    var course_name = course.name;
    var course_year = course.year;
    var course_term = course.term;
    //var course_time = course["course_time"];
    var course_lecturer = course.lecturer;
    var course_general_code = course.general_code;
    var course_organization_code = school_code.toUpperCase();
    var course_code = course.code;
    var credits = course.credits;
    var website_url = course.url;
    $('.modal-course-location').html('');

    // Course location
    for (var i = 1 ; i <= 9; i++) {
      var thisCourse_day = course['day_' + i];
      if(thisCourse_day != '' && thisCourse_day != null){

        var thisCourse_period = course['period_' + i];
        var thisCourse_location = course['location_' + i];
        var getCourseNodeUri = 'https://colorgy.io/api/v1/' + school_code + '_period_data.json?filter%5Border%5D=' + thisCourse_period + '#' + thisCourse_day;
        
        $.get(getCourseNodeUri, function(data_response){
          var thisCourse_day = parseInt(getCourseNodeUri.split('#')[1]);
          var data_response = data_response[0];
          var thisCourse_node = data_response.code;
          var location_string = ('<span class="modal-course-location-item">星期' + thisCourse_day + ' 第' + thisCourse_node + '節' + ' (' + thisCourse_location +  ')</span>');
          $('.modal-course-location').append(location_string);

        });
      }
    };

    $('.modal-course-name').html(course_name);
    $('.modal-course-general-code').html(course_general_code);
    $('.modal-course-credits').html(credits);
    $('.modal-course-lecturer').html(course_lecturer);
    $('.modal-course-link').attr('href', website_url);
    $('#modal1').attr('course-code', course_code);
    $('#modal1').attr('course-general-code', course_general_code);
    $('#modal1').attr('course-organization-code', course_organization_code);
    $('#modal1').attr('year', course_year);
    $('#modal1').attr('term', course_term);
    $('#modal1').openModal();



    var course_general_code = $('#modal1').attr('course-general-code');
    var getCourseCommentsUri = '<%= search_course_comments_path %>' + '?course_general_code=' + course_general_code;


    $.get(getCourseCommentsUri , function(comments_response){
      $.each(comments_response["course_comments"], function(u, comment){
        var comment_body = comment.body;
        var comment_rating = comment.rating;
        var comment_user_id = comment.user_id;
        var comment_user_name = comment.user_name;
        var comment_user_avatar_url = comment.user_avatar_url;
        var comment_create_time = comment.created_at.substr(0,10);
        var comment_anonymous = comment.anonymous;

        if(comment_anonymous){
          comment_user_avatar_url = 'https://placehold.it/500x500';
          comment_user_name = '匿名者';
        }

        $('<div class="course-comment"><div class="user-info"><span class="user-avatar"><img src="' + comment_user_avatar_url + '"></span><span class="user-name">' + comment_user_name +'</span><div class="course-comment-rating" rating="' + comment_rating + '"></div><small>' + comment_create_time + '</small></div><div class="course-comment-body">' + comment_body +'</div></div>').appendTo('#course-comments');

      })
      CourseCommentRatingRenderStar();
      CourseCommentCounter();
    })
  });

  var getUserCourseUri = '<%= course_users_path %>/' + course_code;

  $.get(getUserCourseUri , function(users_response){
    $('#users-on-course-list li').remove();
    $.each( users_response["course_users"] , function(u, user){
      var user_avatar_url = user.avatar_url;
      var user_fb_id = user.fbid;
      var user_id = user.id;

      $('<li><a href="<%= users_path %>/' + user_id +'"><img src="' + user_avatar_url +'"></a></li>').appendTo('#users-on-course-list ul');
      replaceErrorImageUrl();
    })
    $('#preloader-wrapper').removeClass('active');
  });
});
//
// 點選已選擇的課程列表中的 "課程名稱" 開啟 modal
//

$(document).on('click', '.course-hasselect-item .name', function(){
  
  $('#preloader-wrapper').addClass('active');
  $('.course-comment').remove();
  var course_code = $(this).siblings('.item-course-id').attr('icd');
  var item_id = $(this).siblings('.item-id').attr('iid');
  $('#modal-del-btn').attr('iid', item_id);
  var ifselected = false;

  $('.item-course-id').each(function(){
    if (course_code == $(this).attr('icd')) {
      ifselected = true;
    }
  })

  if (ifselected) {
    $('#modal-add-btn').addClass('hide');
    $('#modal-del-btn').removeClass('hide');
  }else{
    $('#modal-add-btn').removeClass('hide');
    $('#modal-del-btn').addClass('hide');
  };


  var school_code = '<%= current_user.organization_code.downcase %>';
  var getCourseUri = 'https://colorgy.io/api/v1/'+ school_code + '/courses.json?' +
      'filter[code]=' + course_code;

  $.get(getCourseUri , function(course_response){
    var course = course_response[0]
    var course_name = course.name;
    var course_year = course.year;
    var course_term = course.term;
    //var course_time = course["course_time"];
    var course_lecturer = course.lecturer;
    var course_general_code = course.general_code;
    var course_organization_code = school_code.toUpperCase();
    var course_code = course.code;
    var credits = course.credits;
    var website_url = course.url;
    $('.modal-course-location').html('');

    // Course location
    for (var i = 1 ; i <= 9; i++) {
      var thisCourse_day = course['day_' + i];

      if(thisCourse_day != '' && thisCourse_day != null){
        var thisCourse_period = course['period_' + i];
        var thisCourse_location = course['location_' + i];
        var getCourseNodeUri = 'https://colorgy.io/api/v1/' + school_code + '_period_data.json?filter%5Border%5D=' + thisCourse_period + '#' + thisCourse_day;
        
        $.get(getCourseNodeUri, function(data_response){
          
          var thisCourse_day = parseInt(getCourseNodeUri.split('#')[1]);
          var data_response = data_response[0];
          var thisCourse_node = data_response.code;
          var location_string = ('<span class="modal-course-location-item">星期' + thisCourse_day + ' 第' + thisCourse_node + '節' + ' (' + thisCourse_location +  ')</span>');
          $('.modal-course-location').append(location_string);

        });
      }
    };

    $('.modal-course-name').html(course_name);
    $('.modal-course-general-code').html(course_general_code);
    $('.modal-course-credits').html(credits);
    $('.modal-course-lecturer').html(course_lecturer);
    $('.modal-course-link').attr('href', website_url);
    $('#modal1').attr('course-code', course_code);
    $('#modal1').attr('course-general-code', course_general_code);
    $('#modal1').attr('course-organization-code', course_organization_code);
    $('#modal1').attr('year', course_year);
    $('#modal1').attr('term', course_term);
    $('#modal1').openModal();



    var course_general_code = $('#modal1').attr('course-general-code');
    var getCourseCommentsUri = '<%= search_course_comments_path %>' + '?course_general_code=' + course_general_code;


    $.get(getCourseCommentsUri , function(comments_response){
      $.each(comments_response["course_comments"], function(u, comment){
        var comment_body = comment.body;
        var comment_rating = comment.rating;
        var comment_user_id = comment.user_id;
        var comment_user_name = comment.user_name;
        var comment_user_avatar_url = comment.user_avatar_url;
        var comment_create_time = comment.created_at.substr(0,10);
        var comment_anonymous = comment.anonymous;

        if(comment_anonymous){
          comment_user_avatar_url = 'https://placehold.it/500x500';
          comment_user_name = '匿名者';
        }

        $('<div class="course-comment"><div class="user-info"><span class="user-avatar"><img src="' + comment_user_avatar_url + '"></span><span class="user-name">' + comment_user_name +'</span><div class="course-comment-rating" rating="' + comment_rating + '"></div><small>' + comment_create_time + '</small></div><div class="course-comment-body">' + comment_body +'</div></div>').appendTo('#course-comments');

      })
      CourseCommentRatingRenderStar();
      CourseCommentCounter();
    })
  });

  var getUserCourseUri = '<%= course_users_path %>/' + course_code;

  $.get(getUserCourseUri , function(users_response){
    $('#users-on-course-list li').remove();
    $.each( users_response["course_users"] , function(u, user){
      var user_avatar_url = user.avatar_url;
      var user_fb_id = user.fbid;
      var user_id = user.id;

      $('<li><a href="<%= users_path %>/' + user_id +'"><img src="' + user_avatar_url +'"></a></li>').appendTo('#users-on-course-list ul');
      replaceErrorImageUrl();
    })
    $('#preloader-wrapper').removeClass('active');
  });
});



//
// 從搜尋到的課程列表中加入課程
//
$(document).on('click', '.add-to-simulator', function(){
  $('#preloader-wrapper').addClass('active');
  course_code = $(this).siblings('.course-id').attr('cid');
  course_general_code = $(this).siblings('.course-id').attr('cgc');
  course_organization_code = $(this).siblings('.course-id').attr('coc');
  var ifReselect = true;

  $('.item-course-id').each(function(){
    if (course_code == $(this).attr('icd')) {
      ifReselect = false;
    }
  })

  if(ifReselect){

    $.post('/courses_simulator', { "courses_simulator[course_code]": course_code, "courses_simulator[course_general_code]": course_general_code, "courses_simulator[course_organization_code]": course_organization_code }, function(response) {
        var item = response["item"];
        var item_id = item["id"];
        var school_code = '<%= current_user.organization_code.downcase %>';

        var getCourseUri = 'https://colorgy.io/api/v1/'+ school_code +'/courses.json?' +
        'filter[code]=' + course_code;

        $.get(getCourseUri , function(course_response){
          var course = course_response[0]
          var course_name = course.name;
          //var course_time = course["course_time"];
          var course_lecturer = course.lecturer;
          var course_general_code = course.general_code;
          var course_code = course.code;
          var credits = course.credits;

          $('.course-hasselect-field-inner').append(
            '<div class="course-hasselect-item">' +
              '<div class="name">'+
               course_name + '</div>' +
              '<div class="lecturer">'+ course_lecturer + '</div>' +
              '<div class="code">'+ course_general_code + '</div>' +
              '<br>' +
              '<div class="time">'+ 'time' + '</div>' +
              '<div class="location">' + 'location' + '</div>' +
              '<div class="credits">' + credits + '</div>' +
              '<button class="remove-hasselect-course"><i class="material-icons">clear</i></button>' +
              '<div class="item-id" iid="' + item_id + '"></div>' +
              '<div class="item-course-id" icd="'+ course_code + '"></div>' + '</div>');
          for (var i = 1; i <= 9; i++) {
            var thisCourse_day = course['day_' + i];
            var thisCourse_period = course['period_' + i];
            var thisCourse_location = course['location_' + i];
            $('<div class="simulator-table-course active" iid="' + item_id + '" icd="' + course_code + '">' + course_name + '</div>').appendTo('.day'+ thisCourse_day + '.period' + thisCourse_period );

          };
          CourseConflictTest();
          getCourseUsers();
          
          flash.success('"' + course_name + '" 已經加入課表！');
        });

        $('#preloader-wrapper').removeClass('active');
        CourseConflictTest();

    })

  }else{
    $('#preloader-wrapper').removeClass('active');
    flash.error('這堂課已經在你的課表內囉！');
  }

});

//
// 從 Modal footer 中的按鈕加入課程
//

$(document).on('click', '#modal-add-btn', function(){
  $('#preloader-wrapper').addClass('active');
  course_code = $('#modal1').attr('course-code');
  course_organization_code = $('#modal1').attr('course-general-code');
  course_organization_code = $('#modal1').attr('course-organization-code');
  var ifReselect = true;

  $('.item-course-id').each(function(){
    if (course_code == $(this).attr('icd')) {
      ifReselect = false;
    }
  })

  if(ifReselect){

    $.post('/courses_simulator', { "courses_simulator[course_code]": course_code, "courses_simulator[course_general_code]": course_general_code, "courses_simulator[course_organization_code]": course_organization_code }, function(response) {
        var item = response["item"];
        var item_id = item["id"];
        var school_code = '<%= current_user.organization_code.downcase %>';

        var getCourseUri = 'https://colorgy.io/api/v1/'+ school_code +'/courses.json?' +
        'filter[code]=' + course_code;

        $.get(getCourseUri , function(course_response){
          var course = course_response[0]
          var course_name = course.name;
          //var course_time = course["course_time"];
          var course_lecturer = course.lecturer;
          var course_general_code = course.general_code;
          var course_code = course.code;
          var credits = course.credits;

          $('.course-hasselect-field-inner').append(
            '<div class="course-hasselect-item">' +
              '<div class="name">'+
               course_name + '</div>' +
              '<div class="lecturer">'+ course_lecturer + '</div>' +
              '<div class="code">'+ course_general_code + '</div>' +
              '<br>' +
              '<div class="time">'+ 'time' + '</div>' +
              '<div class="location">' + 'location' + '</div>' +
              '<div class="credits">' + credits + '</div>' +
              '<button class="remove-hasselect-course"><i class="material-icons">clear</i></button>' +
              '<div class="item-id" iid="' + item_id + '"></div>' +
              '<div class="item-course-id" icd="'+ course_code + '"></div>' + '</div>');
          for (var i = 1; i <= 9; i++) {
            var thisCourse_day = course['day_' + i];
            var thisCourse_period = course['period_' + i];
            var thisCourse_location = course['location_' + i];
            $('<div class="simulator-table-course active" iid="' + item_id + '" icd="' + course_code + '">' + course_name + '</div>').appendTo('.day'+ thisCourse_day + '.period' + thisCourse_period );

          };
          CourseConflictTest();
          getCourseUsers();
          flash.success('"' + course_name + '" 已經加入課表！');
          $('#modal1').closeModal();
        });

        $('#preloader-wrapper').removeClass('active');
        CourseConflictTest();

    })

  }else{
    $('#preloader-wrapper').removeClass('active');
    flash.error('這堂課已經在你的課表內囉！');
  }

});



$(document).on('click','#modal-del-btn' , function() {
     //code here ....
  item_id = $(this).attr('iid');
  $.ajax({
    url:'/courses_simulator/' + item_id,
    type: 'DELETE',
    success: function(response) {
      var item = response["item"];
      $('.item-id[iid=' + item["id"] +']').parent('.course-hasselect-item').remove();
      $('.simulator-table-course[iid="' + item["id"] + '"]').remove();
      flash.success('這堂課已經移出課表！');
      CourseConflictTest();
      
      getCourseUsers();
      $('#modal1').closeModal();
    }
  })
});

$(document).on('click','.remove-hasselect-course' , function() {

  $('#preloader-wrapper').addClass('active');   
  item_id = $(this).siblings('.item-id').attr('iid');
  $.ajax({
    url:'/courses_simulator/' + item_id,
    type: 'DELETE',
    success: function(response) {
      var item = response["item"];
      $('.item-id[iid=' + item["id"] +']').parent('.course-hasselect-item').remove();
      $('.simulator-table-course[iid="' + item["id"] + '"]').remove();
      $('#preloader-wrapper').removeClass('active');
      flash.success('這堂課已經移出課表！');
      CourseConflictTest();
      getCourseUsers();
    }
  })
});

//
// 課程 Search Box 搜尋事件 
//

$('#course-searchbox').on('input', function(){
  $('#preloader-wrapper').addClass('active');
  var keyword = $('#course-searchbox').val();
  var search_method = $('#search-method-select option:selected').attr('value');
  var school_code = '<%= current_user.organization_code.downcase %>';

  if(keyword == ''){
    $('.simulator-search-result').children('.course-select-item').remove();
    $('#simulator-search-result-blank-message').remove();
    $('#preloader-wrapper').removeClass('active');
  }
  else{

    var uri = 'https://colorgy.io/api/v1/'+ school_code +'/courses.json?filter[year]=2015&filter[term]=1&'
    + 'filter['+ search_method +']=like(%' + keyword + '%)';
    console.log(uri);
    var encode_uri = encodeURI(uri);

    $.get( encode_uri , function(response){

      $('#simulator-search-result-blank-message').remove();

      if(response.length == 0){
        $('<p id="simulator-search-result-blank-message" class="simulator-search-result-blank-message">“搜尋不到結果”</br>請輸入完整關鍵字或確認上方搜尋方式。如發現有缺課等問題歡迎聯繫 <a class="colorgy-fans-page-link" href="https://www.facebook.com/pages/Colorgy/1529686803975150" target="_blank">Colorgy</a></p>').appendTo('.simulator-search-result');
        $('#preloader-wrapper').removeClass('active');
      }
      else{
        $('#simulator-search-result-blank-message').remove();
        var counter = response.length - 1;
        $('.simulator-search-result').children('.course-select-item').remove();
        for( i=0 ; i <= counter ; i++ ){
          var course = response[i];
          var course_name = course.name;
          var lecturer_name = course.lecturer;
          var course_general_code = course.general_code;
          var course_organization_code = school_code.toUpperCase();
          var course_credits = course.credits;
          var course_code = course.code;

           $('<div class="course-select-item">' +
              '<div class="name">' + course_name + '</div>' +
              '<div class="lecturer">' + lecturer_name +'</div>' +
              '<div class="course-code">' + course_general_code + '</div>' +
              '<br>' +
              '<div class="course-time">c.course_time</div>' +
              '<div class="course-location">c.location</div>' +
              '<div class="course-credits">' + course.credits + '</div>'+
              '<button class="add-to-simulator"><i class="material-icons">add</i></button>'+
              '<div class="course-id" cid="' + course_code + '" cgc="' + course_general_code + '" coc="' + course_organization_code + '"></div></div>').appendTo('.simulator-search-result');
           $('#preloader-wrapper').removeClass('active');
        }
      }
    })
    .fail(function() {
      flash.error( "連結資料庫失敗，請確認自己的網路或是回報錯誤給 Colorgy ，如造成任何不便我們很抱歉。" );
      $('#preloader-wrapper').removeClass('active');
    })
  }

});

$('#search-method-select').on('change', function(){
  $('#preloader-wrapper').addClass('active');
  var keyword = $('#course-searchbox').val();
  var search_method = $('#search-method-select option:selected').attr('value');
  var school_code = '<%= current_user.organization_code.downcase %>';

  if(keyword == ''){
    $('.simulator-search-result').children('.course-select-item').remove();
    $('#simulator-search-result-blank-message').remove();
    $('#preloader-wrapper').removeClass('active');
  }
  else{

    var uri = 'https://colorgy.io/api/v1/'+ school_code +'/courses.json?filter[year]=2015&filter[term]=1&'
    + 'filter['+ search_method +']=like(%' + keyword + '%)';
    var encode_uri = encodeURI(uri);

    $.get( encode_uri , function(response){

      $('#simulator-search-result-blank-message').remove();

      if(response.length == 0){
        $('.simulator-search-result').children('.course-select-item').remove();
        $('<p id="simulator-search-result-blank-message" class="simulator-search-result-blank-message">“搜尋不到結果”</br>請輸入完整關鍵字或確認上方搜尋方式。如發現有缺課等問題歡迎聯繫 <a class="colorgy-fans-page-link" href="https://www.facebook.com/pages/Colorgy/1529686803975150" target="_blank">Colorgy</a></p>').appendTo('.simulator-search-result');
      }
      else{
        $('#simulator-search-result-blank-message').remove();
        $('.simulator-search-result').children('.course-select-item').remove();
        var counter = response.length - 1;
        for( i=0 ; i <= counter ; i++ ){
          var course = response[i];
          var course_name = course.name;
          var lecturer_name = course.lecturer;
          var course_general_code = course.general_code;
          var course_organization_code = school_code.toUpperCase();
          var course_credits = course.credits;
          var course_code = course.code;

          $('<div class="course-select-item">' +
              '<div class="name">' + course_name + '</div>' +
              '<div class="lecturer">' + lecturer_name +'</div>' +
              '<div class="course-code">' + course_general_code + '</div>' +
              '<br>' +
              '<div class="course-time">c.course_time</div>' +
              '<div class="course-location">c.location</div>' +
              '<div class="course-credits">' + course.credits + '</div>'+
              '<button class="add-to-simulator"><i class="material-icons">add</i></button>'+
              '<div class="course-id" cid="' + course_code + '" cgc="' + course_general_code + '" coc="' + course_organization_code + '"></div></div>').appendTo('.simulator-search-result');
           $('#preloader-wrapper').removeClass('active');
        }
      }
    })
    .fail(function() {
      flash.error( "連結資料庫失敗，請確認自己的網路或是回報錯誤給 Colorgy ，如造成任何不便我們很抱歉。" );
      $('#preloader-wrapper').removeClass('active');
    })
  }

});


// 搜尋事件 End


$(document).mousemove(function(e){
  if($(e.target).hasClass('course-select-item') || $(e.target).parents().hasClass('course-select-item')){
  }
  else{
    $('.simulator-table-course.on-hover').remove();
  }
})
$(document).ready(function(){
  $('ul.tabs').tabs();
  $('.modal-trigger').leanModal();
  $('.materialboxed').materialbox();
});
</script>
