<%= form_for :chat_group, url: chat_groups_path do |f| %>
  <%= f.label :name, '聊天室名稱' %><br>
  <%= f.text_field :name %><br>

  <%= f.label :creator_user_id, '主旨' %><br>
  <%= f.text_field :creator_user_id, :value => current_user.id %><br>
  <button class="btn" type="submit">創造聊天室</button>
<% end %>
