<div class="navbar-fixed">
    <nav>
        <div class="top">
            <div class="top-bar">
                <ul>
                  <li><a href="<%= root_path %>">Taple 推博</a></li>
                </ul>
                <ul class="right-ul">
                    <li><a href="<%= courses_simulator_index_path %>">TAPLE 課程表</a></li>
                    <li><a href="#">TAPLE 課表 APP</a></li>
                    <% if current_user.blank? %>
                      <li><%= link_to "Sign in with Colorgy", user_omniauth_authorize_path(:colorgy) %></li>
                    <% else %>
                      <li><a href="">Hi, <%= current_user.name %> :D</a></li>
                    <% end %>
                </ul>
            </div>
        </div>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">TAPLE</a>
          <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          <ul class="right hide-on-med-and-down main-nav">
            <li><a href="<%= courses_simulator_index_path %>">選課模擬</a></li>
            <% if current_user.blank? %>
              <li><%= link_to "Sign in with Colorgy", user_omniauth_authorize_path(:colorgy) %></li>
            <% else %>
              <li class="nav-user-info">
                <a href="#">
                  <div class="user-avatar">
                  <%= image_tag current_user.avatar_url %>
                  </div>
                  <div class="user-name">
                    <%= current_user.name %>
                  </div>
                </a>
              </li>
            <% end %>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="<%= courses_simulator_index_path %>">課程表</a></li>
          </ul>
          <div class="clear" style="clear:both;"></div>
        </div>
    </nav>
</div>
<script>
   $(".button-collapse").sideNav();
</script>
