<nav class="colorgy-nav">
    <div class="top">
        <div class="top-bar">
            <ul>
                <li>
                  <a href="https://colorgy.io" target="_blank">回 Colorgy 首頁</a>
                </li>
                <li>
                  <a href="<%= app_path %>" class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="下載 APP 版的 TABLE ，把課表帶著走吧！">
                    APP 下載
                  </a>
                </li>
                <% if current_user.blank? %>
                <li class="login-btn"><%= link_to "Colorgy 登入", user_omniauth_authorize_path(:colorgy) %></li>
                <% else %>
                <li class="nav-bar-drop-down">
                  <a href="">
                    Hi, <%= current_user.name %> ( <span class="current-user-followed-user-count"><%= current_user.followed_users.count %></span> ) <i class="material-icons list-icon" style="color: #fff;">expand_more</i>

                  </a>
                  <ul class="drop-down-list" style="margin-top: -1px;">
                    <li>
                      <a href="<%= user_followed_user_index_path %>">
                        我追蹤的同學( <span class="current-user-followed-user-count"><%= current_user.followed_users.count %></span> )
                      </a>
                    </li>
                    <li>
                      <a href="<%= user_path(current_user.id) %>">
                        個人頁面
                      </a>
                    </li>
                    <li>
                      <a href="<%= sign_out_url %>">登出</a>
                    </li>
                  </ul>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="nav-wrapper">
      <a href="<%= root_path %>" class="brand-logo"><%= image_tag('TABLE.svg') %></a>
      <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">dehaze</i></a>
      <ul class="right hide-on-med-and-down main-nav">
        <li>
          <a href="<%= courses_simulator_index_path %>" class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="可以在這邊選課、排課，然後看有哪些同學跟你一起上課唷！">
            <i class="material-icons list-icon">dashboard</i>
            我要排課
          </a>
        </li>
        <li>
          <a href="<%= users_path %>" class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="可以在這邊尋找各校的同學，看他們選了哪些課或是追蹤他們唷！">
            <i class="material-icons list-icon">face</i>
            找同學們
          </a>
        </li>
        <li class="nav-bar-drop-down">
          <a href="#">
            <i class="material-icons list-icon">more_vert</i>
          </a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">

        <% if current_user.blank? %>
          <li class="login-btn"><%= link_to "Colorgy 登入", user_omniauth_authorize_path(:colorgy) %></li>
        <% else %>
          <li id="personal-menu" style="background-color: rgb(151, 151, 151) !important;">
            <div class="personal-avatar"><%= image_tag current_user.avatar_url %></div>
            <a href="#personal-menu">個人工具列<i class="material-icons personal-menu-trigger" style="display: inline-block; color: #fff;">keyboard_arrow_down</i></a>
          </li>
          <ul class="personal-menu-collapse" style="display: none;">
            <li>
              <a href="<%= user_followed_user_index_path %>">
                我追蹤的同學( <span class="current-user-followed-user-count"><%= current_user.followed_users.count %></span> )
              </a>
            </li>
            <li>
              <a href="<%= user_path(current_user.id) %>">
                個人頁面
              </a>
            </li>
          </ul>
        <% end %>
        <li><a href="<%= courses_simulator_index_path %>">我要排課</a></li>
        <li><a href="<%= users_path %>">找同學們</a></li>
        <li><a href="<%= app_path %>">APP 下載</a></li>
        <li><a href="<%= sign_out_url %>">登出</a></li>
      </ul>
      <div class="clear" style="clear:both;"></div>
    </div>
</nav>
<script>
  $(".button-collapse").sideNav();
  $('#personal-menu').click(function(){
    $('.personal-menu-collapse').slideToggle(500);
    if($('.personal-menu-trigger').html() == 'keyboard_arrow_down'){
      $('.personal-menu-trigger').html('keyboard_arrow_up');
    }
    else{
      $('.personal-menu-trigger').html('keyboard_arrow_down');
    }
  })
  $('.login-btn').click(function(){
    $('#perloader-wrapper').addClass('active');
  })
</script>
