<%= javascript_include_tag 'pages' %>
<section class="user-panel">
  <div class="cover-photo" style="background-image: url('<%= @current_user.cover_photo_url %>');">
    <div class="user-info">
      <div class="avatar" id="user-avatar">
        <%= image_tag @current_user.avatar_url %>
      </div>
      <h4 class="user-name"><%= @current_user.name %><hr><span class="breadcrumb">追蹤的同學</span></h4>
    </div>
  </div>
  <div class="actions-bar">
    <div class="inner">
      <ul class="pull-right">
        <li><a href="<%= user_path(@current_user.id) %>"><i class="material-icons list-icon">arrow_back</i>回個人頁面</a></li>
      </ul>
      <div style="clear: both;"></div>
    </div>
  </div>
  <div class="user">
    <div class="row">
      <div class="col m12 s12">
        <div class="current-user-followed-users isotope">
          <div class="grid-sizer"></div>
          <% if @user_followed_users.count == 0 %>
            <div style="min-height: 300px; text-align: center;">
              <i class="material-icons" style="font-size: 40px !important;">face</i>
              <p>還沒有追蹤任何同學唷！</p>
              <a href="<%= users_path %>"><button class="btn">搜尋同學</button></a>
            </div>
          <% else %>
            <% @user_followed_users.each do |user_followed_user| %>
              <% next if user_followed_user.followed_user.blank? %>
              <div class="followed-user-item">
                <a href="<%= user_path(user_followed_user.followed_user) %>">
                  <div class="followed-user-item-avatar">
                    <%= image_tag user_followed_user.followed_user.avatar_url  %>
                  </div>
                  <%= user_followed_user.followed_user.name %>
                  <a class="unfollow-user-btn" ufui="<%= user_followed_user.id %>">取消追蹤</a>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $( function() {
    // init Isotope
    var $container = $('.isotope').imagesLoaded(function(){
      $container.isotope({
        itemSelector: '.followed-user-item',
        columnWidth: '.grid-sizer',
      });
    });
  })
  $(document).on('click', '.unfollow-user-btn',function(){
    var user_followed_user_id = $(this).attr('ufui');
    $.ajax({
      url:'/user_followed_user/' + user_followed_user_id,
      type: 'DELETE',
      success: function(response) {
        //flash.success('已經取消追蹤');
        location.reload();
      }
    })
  })
</script>
