<%= javascript_include_tag 'pages' %>
<section class="users">
  <div class="search-bar search-bar--center user-search-bar">
    <h5 class="search-bar-title">找同學們</h5>
    <select class="browser-default started-year-filter" id="started-year-filter">
      <option value="all" selected>全部入學年度</option>
      <option value="2015">2015</option>
      <option value="2014">2014</option>
      <option value="2013">2013</option>
      <option value="2012">2012</option>
      <option value="2011">2011</option>
      <option value="2010">2010</option>
      <option value="2009">2009</option>
      <option value="2008">2008</option>
      <option value="2007">2007</option>
      <option value="2006">2006</option>
      <option value="2005">2005</option>
    </select>
    <select class="browser-default gender-filter" id="gender-filter">
      <option value="all" selected>全部性別</option>
      <option value="male">男生</option>
      <option value="female">女生</option>
    </select>
    <select class="browser-default school-filter" id="school-filter">
      <option value="all" selected>全部學校</option>
      <option value="NTUST">台灣科技大學</option>
      <option value="NTUT">台北科技大學</option>
      <option value="NTIT">台中科技大學</option>
      <option value="NTU">台灣大學</option>
      <option value="NCCU">政治大學</option>
      <option value="NTNU">台灣師範大學</option>
      <option value="NTHU">清華大學</option>
      <option value="NCTU">交通大學</option>
      <option value="NCKU">成功大學</option>
      <option value="NCU">中央大學</option>
      <option value="NSYSU">中山大學</option>
      <option value="NCHU">中興大學</option>
      <option value="CYCU">中原大學</option>
      <option value="CCU">中正大學</option>
      <option value="NTPU">台北大學</option>
      <option value="CGU">長庚大學</option>
      <option value="YZU">元智大學</option>
      <option value="TKU">淡江大學</option>
      <option value="FJU">輔仁大學</option>
      <option value="SCU">東吳大學</option>
      <option value="USC">實踐大學</option>
      <option value="USCKH">實踐大學-高雄校區</option>
      <option value="YUNTECH">雲林科技大學</option>
      <option value="PCCU">中國文化大學</option>
      <option value="TTU">大同大學</option>
      <option value="MCU">銘傳大學</option>
    </select>
    <form class="user-search-form" action="/search-users" method="get" id="chat_form" style="display: inline-block;">
      <input id="user-searchbox" class="user-searchbox" type="search" placeholder="輸入同學的名字" style="height: 33px !important;">
      <label for="user-searchbox" class="active">
        <i class="material-icons">search</i>
      </label>
    </form>
    <button id="search-btn" class="btn" style="display: inline-block; vertical-align: top;">搜尋</button>
  </div>
  <div class="users-search-result isotope" id="users-search-result">
    <div class="grid-sizer"></div>
    <% if @users.count == 0 %>
      <div class="page-error-message">
        <i class="material-icons message-icon">face</i>
        <p class="message-content">沒有搜尋到任何人哦！<br>可以換個關鍵字或是學校試試看 :D</p>
      </div>
    <% else %>
      <% @users.each do |user| %>
        <div class="card user-item">
          <% if user.organization_code == nil || user.organization_code == '' %>
            <span class="user-organization-code">未認證</span>
          <% else %>
            <span class="user-organization-code"><%= user.organization_code %></span>
          <% end %>
          <div class="card-image">
            <a href="<%= user_path(user) %>">
              <% if user.avatar_url != '' && user.avatar_url %>
                <%= image_tag user.avatar_url %>
              <% else %>
                <%= image_tag ('https://placehold.it/500x500') %>
              <% end %>
              <span class="card-title user-info"><%= user.name %></span>
            </a>
          </div>
          <div class="card-action">
            <a class="user-item-followers-count">
              <i class="material-icons">face</i><%= user.followers_count %>
            </a>
            <% if current_user.id == user.id %>
            <% else %>
              <% if !current_user.followed_users.include?(user) %>
                <a class="follow-user-btn" user-id="<%= user.id %>"><i class="material-icons">favorite_border</i></a>
              <% else %>
                <% @user_followed_users.each do |user_followed_user| %>
                  <% if user_followed_user.followed_user_id == user.id  %>
                    <a class="unfollow-user-btn" ufui="<%= user_followed_user.id %>" user-id="<%= user_followed_user.followed_user_id %>"><i class="material-icons">favorite</i></a>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <a href="<%= user_path(user) %>"><i class="material-icons">forward</i></a>
          </div>
        </div>
      <% end %>
    <% end %>  
  </div>
  <%= will_paginate %>
</section>
<% @user_followed_users.each do |item| %>
  <div class="user-followed-users-item" followed-user-id="<%= item.followed_user_id %>" item-id="<%= item.id %>"></div>
<% end %>

<script>
  <% if params[:name].present? && params[:name] != '' && params[:name] != 'undefined' %>
    var name = '<%= params[:name] %>';
    $('#user-searchbox').val(name);
  <% end %>
  <% if params[:organization_code].present? && params[:organization_code] != 'all' %>
    var organization_code = '<%= params[:organization_code] %>';
    $('#school-filter option[value="' + organization_code + '"]').prop('selected', true);
  <% end %>
  <% if params[:gender].present? %>
    var gender = '<%= params[:gender] %>';
    $('#gender-filter option[value="' + gender + '"]').prop('selected', true);
  <% end %>
  <% if params[:started_year].present? %>
    var started_year = '<%= params[:started_year] %>';
    $('#started-year-filter option[value="' + started_year + '"]').prop('selected', true);
  <% end %>

  function UsersFollowedUsersCheck(){
    $('.user-followed-users-item').each(function(){
      var followed_user_id = $(this).attr('followed-user-id');
      var item_id = $(this).attr('item-id');

      $('a[user-id="' + followed_user_id +'"]').replaceWith('<a class="unfollow-user-btn" ufui="' + item_id + '" user-id="' + followed_user_id +'"><i class="material-icons">favorite</i></a>');
    })
  }

  $(document).on('click', '.follow-user-btn',function(){
    $('#preloader-wrapper').addClass('active');
    var user_id = $(this).attr('user-id');
    $.post('/user_followed_user', {"user_followed_users[followed_user_id]": user_id},
      function(response){
        var user_followed_user = response["user_followed_user"];
        var user_followed_user_id = user_followed_user["id"];
        var followed_user_id = user_followed_user["followed_user_id"];
        $('a[user-id="' + user_id + '"]').replaceWith('<a class="unfollow-user-btn" ufui="' + user_followed_user_id + '" user-id="' + followed_user_id +'"><i class="material-icons">favorite</i></a>');
        flash.success('成功追蹤');
        $('#preloader-wrapper').removeClass('active');

      })
    // Post End
  })

  $(document).on('click', '.unfollow-user-btn',function(){
    $('#preloader-wrapper').addClass('active');
    var user_followed_user_id = $(this).attr('ufui');
    var user_id = $(this).attr('user-id');
    $.ajax({
      url:'/user_followed_user/' + user_followed_user_id,
      type: 'DELETE',
      success: function(response) {
        $('a[user-id="' + user_id +'"]').replaceWith('<a class="follow-user-btn" user-id="' + user_id +'"><i class="material-icons">favorite_border</i></a>');
        flash.success('已經取消追蹤');
        $('#preloader-wrapper').removeClass('active');
      }
    })
  })
  $(document).ready(function() {
    // init Isotope
    // End init


    // School Filter

    function SchoolFilter(selected_school_code) {

      if (selected_school_code == 'all') {
        $container.isotope({ filter: function(){ return $(this)  } });
      }else{
        $container.isotope({
          filter: function() {
            var user_school_code = $(this).find('.user-organization-code').text();
            
            // return true to show, false to hide
            return user_school_code == selected_school_code;
          }
        })        
      }

    }

    // Search Functions

    function GetUserSearchResult(event, keyword){

        var organization_code = $('#school-filter option:selected').val();
        var gender = $('#gender-filter option:selected').val();
        var started_year = $('#started-year-filter option:selected').val();
        var encode_uri = '/users?';

        if(keyword != 'undefined' && keyword !='' && keyword != null){
          encode_uri = encode_uri + '&name=' + keyword;
        }
        if(organization_code != 'all' && organization_code){
          encode_uri = encode_uri + '&organization_code=' + organization_code;
        }
        if(gender != 'all' && gender){
          encode_uri = encode_uri + '&gender=' + gender;
        }
        if(started_year != 'all' && started_year){
          encode_uri = encode_uri + '&started_year=' + started_year;
        }
        location.href = encode_uri;
        
        //var encode_uri = encodeURI(uri);
        /*
        $.get( encode_uri , function(user_response){
            var user = user_response["found_user"];
            var user_counts = user_response["found_user"].length;
            $container.isotope( 'remove', $('.user-item') ).isotope('layout');
            
            for( i=0 ; i<=user_counts - 1 ; i++){
              var current_user_id = parseInt('<%= current_user.id %>');
              var user_id = user[i].id;
              var user_name = user[i].name;
              var user_avatar_url = user[i].avatar_url;
              var user_organization_code = user[i].organization_code;
              var user_followers_count = user[i].followers_count;

              if (user_organization_code = '' || user_organization_code == null){
                user_organization_code = '未認證';
              }else{
                user_organization_code = user[i].organization_code;
              }

              if( current_user_id == user_id ){
                $user_item = $('<div class="card user-item"><span class="user-organization-code">' + user_organization_code + '</span><div class="card-image"><a href="/users/'+ user_id +'"><img src="' + user_avatar_url + '"><span class="card-title user-info">'+ user_name + '</span></span></a></div><div class="card-action"><a class="user-item-followers-count"><i class="material-icons">face</i>' + user_followers_count + '<a href="'+ '/user/' +  user_id + '"><i class="material-icons">forward</i></a></div></div>');
              }
              else{
                $user_item = $('<div class="card user-item"><span class="user-organization-code">' + user_organization_code  + '</span><div class="card-image"><a href="/users/'+ user_id +'"><img src="' + user_avatar_url + '"><span class="card-title user-info">'+ user_name +'</span></a></div><div class="card-action"><a class="user-item-followers-count"><i class="material-icons">face</i>' + user_followers_count + '</a><a class="follow-user-btn" user-id="' + user_id +'"><i class="material-icons">favorite_border</i></a><a href="'+ '/users/' +  user_id + '"><i class="material-icons">forward</i></a></div></div>');  
              }
              //$container.isotope( 'insert', $user_item );

            }
            UsersFollowedUsersCheck();
            replaceErrorImageUrl();

            $('#perloader-wrapper').removeClass('active');
            if(keyword==''){
              window.location.hash = '';
            }else{
              window.location.hash = '?name=' + keyword;
            }
        });
        */
        
    }
    /*
    var hash = window.location.hash;
    if(hash.slice(0,7) == '#?name='){
      $('#perloader-wrapper').addClass('active');
      var keyword = hash.replace('#?name=','');
      $('#user-searchbox').val(keyword);
      GetUserSearchResult(event , keyword);
    }
    */

    $('#school-filter').change(function(event){
      $('#perloader-wrapper').addClass('active');
      var keyword = $('#user-searchbox').val();
      GetUserSearchResult(event , keyword);
    })

    $('#gender-filter').change(function(event){
      $('#perloader-wrapper').addClass('active');
      var keyword = $('#user-searchbox').val();
      GetUserSearchResult(event , keyword);
    })

    $('#started-year-filter').change(function(event){
      $('#perloader-wrapper').addClass('active');
      var keyword = $('#user-searchbox').val();
      GetUserSearchResult(event , keyword);
    })

    $('#search-btn').click(function(event){
      $('#perloader-wrapper').addClass('active');
      var keyword = $('#user-searchbox').val();
      GetUserSearchResult(event , keyword);
    })

    $('#chat_form').bind('submit',function(event){
      $('#perloader-wrapper').addClass('active');
      var keyword = $('#user-searchbox').val();
      GetUserSearchResult(event , keyword)
      return false;
    })
    // Search Functions End
  })
</script>
