<%= javascript_include_tag 'pages' %>
<section class="users">  
  <div class="search-bar search-bar--center" style="margin: 16px auto; text-align:center;">
    <form class="user-search-form" action="/search-users" method="get" id="chat_form">
      <input id="user-searchbox" class="user-searchbox" type="search" placeholder="輸入同學的名字並按下 '搜尋'">
      <label for="user-searchbox" class="active">
        <i class="material-icons">search</i>
      </label>
    </form>
    <button id="search-btn" class="btn">搜尋</button>
  </div>
  <div class="users-search-result isotope" id="users-search-result">
    <div class="grid-sizer"></div>
    <% @users.each do |user| %>
      <div class="card user-item">
        <div class="card-image">
          <a href="<%= user_path(user) %>">
            <%= image_tag user.avatar_url %>
            <span class="card-title user-info"><%= user.name %> <%= user.organization_code %></span>
          </a>
        </div>
        <div class="card-action">
          <a class="user-item-followers-count">
            <i class="material-icons">face</i><%= user.followers_count %>
          </a>
          <% if current_user.id == user.id %>
          <% else %>
            <% if !current_user.followed_users.include?(user) %>
              <a class="follow-user-btn" user-id="<%= user.id %>"><i class="material-icons">favorite_border</i></a>
            <% else %>
              <% @user_followed_users.each do |user_followed_user| %>
                <% if user_followed_user.followed_user_id == user.id  %>
                  <a class="unfollow-user-btn" ufui="<%= user_followed_user.id %>"><i class="material-icons">favorite</i></a>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <a href="<%= user_path(user) %>"><i class="material-icons">forward</i></a>
        </div>
      </div>
    <% end %>
  </div>
</section>
<div class="current-user-followed-users">
  <% @user_followed_users.each do |item| %>
    <div class="user-followed-users-item" followed-user-id="<%= item.followed_user_id %>" item-id="<%= item.id %>"></div>
  <% end %>
</div>
<script>

  function UsersFollowedUsersCheck(){
    $('.user-followed-users-item').each(function(){
      var followed_user_id = $(this).attr('followed-user-id');
      var item_id = $(this).attr('item-id');

      $('a[user-id="' + followed_user_id +'"]').replaceWith('<a class="unfollow-user-btn" ufui="' + item_id + '" user-id="' + followed_user_id +'"><i class="material-icons">favorite</i></a>');
    })
  }

  $(document).on('click', '.follow-user-btn',function(){
    var user_id = $(this).attr('user-id');
    $.post('/user_followed_user', {"user_followed_users[followed_user_id]": user_id},
      function(response){
        var user_followed_user = response["user_followed_user"];
        console.log(user_followed_user["id"]);
        var user_followed_user_id = user_followed_user["id"];
        var followed_user_id = user_followed_user["followed_user_id"];
        console.log(followed_user_id);
        $('a[user-id="' + user_id + '"]').replaceWith('<a class="unfollow-user-btn" ufui="' + user_followed_user_id + '" user-id="' + followed_user_id +'"><i class="material-icons">favorite</i></a>');
        flash.success('成功追蹤');

      })
    // Post End
  })

  $(document).on('click', '.unfollow-user-btn',function(){
    var user_followed_user_id = $(this).attr('ufui');
    var user_id = $(this).attr('user-id');
    $.ajax({
      url:'/user_followed_user/' + user_followed_user_id,
      type: 'DELETE',
      success: function(response) {
        $('a[user-id="' + user_id +'"]').replaceWith('<a class="follow-user-btn" user-id="' + user_id +'"><i class="material-icons">favorite_border</i></a>');
        flash.success('已經取消追蹤');
      }
    })
  })
  $(document).ready(function() {
    // init Isotope
    var $container = $('.isotope').imagesLoaded(function(){
      $container.isotope({
        itemSelector: '.user-item',
        columnWidth: '.grid-sizer',
      });
    });
    // End init


    // Search Functions

    function GetUserSearchResult(event, keyword){
        
        var encode_uri = '/search-users?name=' + keyword;
        //var encode_uri = encodeURI(uri);
        $.get( encode_uri , function(user_response){
            var user = user_response["found_user"];
            var user_counts = user_response["found_user"].length;
            $container.isotope( 'remove', $('.user-item') ).isotope('layout');
            for( i=0 ; i<=user_counts-1 ; i++){
              var current_user_id = parseInt('<%= current_user.id %>');
              var user_id = user[i].id;
              var user_name = user[i].name;
              var user_avatar_url = user[i].avatar_url;
              var user_organization_code = user[i].organization_code;
              var user_followers_count = user[i].followers_count;

              if( current_user_id == user_id ){
                $user_item = $('<div class="card user-item"><div class="card-image"><a href="/user/'+ user_id +'"><img src="' + user_avatar_url + '"><span class="card-title user-info">'+ user_name + ' ' + user_organization_code  + '</span></a></div><div class="card-action"><a class="user-item-followers-count"><i class="material-icons">face</i>' + user_followers_count + '<a href="'+ '/user/' +  user_id + '"><i class="material-icons">forward</i></a></div></div>');
              }
              else{
                $user_item = $('<div class="card user-item"><div class="card-image"><a href="/user/'+ user_id +'"><img src="' + user_avatar_url + '"><span class="card-title user-info">'+ user_name + ' ' + user_organization_code  + '</span></a></div><div class="card-action"><a class="user-item-followers-count"><i class="material-icons">face</i>' + user_followers_count + '</a><a class="follow-user-btn" user-id="' + user_id +'"><i class="material-icons">favorite_border</i></a><a href="'+ '/users/' +  user_id + '"><i class="material-icons">forward</i></a></div></div>');  
              }
              console.log(user[i]);
              $container.append( $user_item ).isotope( 'appended', $user_item ).isotope('layout');
            }
            UsersFollowedUsersCheck();
            window.location.hash = '?name=' + keyword;
        });
    }

    var hash = window.location.hash;
    if(hash.slice(0,7) == '#?name='){
      var keyword = hash.replace('#?name=','');
      $('#user-searchbox').val(keyword);
      GetUserSearchResult(event , keyword);
    }

    $('#search-btn').click(function(event){
      var keyword = $('#user-searchbox').val();
      GetUserSearchResult(event , keyword);
    })

    $('#chat_form').bind('submit',function(event){
      var keyword = $('#user-searchbox').val();
      GetUserSearchResult(event , keyword)
      return false;
    })
    // Search Functions End
  })
</script>
