<% if current_user.blank? %>
  <div class="notification-banner background-image bottom ask-login dark hide">
    <a class="close-btn"><i class="material-icons">close</i></a>
    <div class="banner-content">
      <h4 class="banner-title">您也想要安排自己的課表嗎？</h4>
      <p class="banner-description">Colorgy Table 讓你可以預覽自己的課表，而且還能看到朋友們選了哪些課<br>現在馬上加入！一起來選課吧！</p>
    </div>
    <div class="banner-action">
      <%= link_to "我也要排課！", user_omniauth_authorize_path(:colorgy), :class=>'btn btn--large' %>
    </div>
  </div>
<% end %>
<section class="user-panel">
	<div class="cover-photo" style="background-image: url('<%= @user.cover_photo_url %>');">
		<div class="user-info">
			<div class="avatar" id="user-avatar">
        <% if @user.avatar_url != '' && @user.avatar_url %>
          <%= image_tag @user.avatar_url %>
        <% else %>
          <%= image_tag ('https://placehold.it/500x500') %>
        <% end %>
			</div>
			<h4 class="user-name"><small><%= @user.organization_code %></small><br><%= @user.name %><hr><span class="breadcrumb">的個人頁面</span></h4>
		</div>
	</div>
	<div class="actions-bar">
		<div class="inner">
			<ul class="pull-right">
        <% if current_user.blank? %>
          <a onclick="flash.error('你必須登入才能進行此操作')"><i class="material-icons">favorite_border</i>追蹤</a>
        <% else %>
          <% if current_user.id == @user.id %>
            <li id="settings-btn"><a href="/settings"><i class="material-icons">settings</i>隱私權設定</a></li>
            <li><a href="<%= user_followed_user_index_path %>"><i class="material-icons">people</i>我的追蹤</a></li>
          <% else %>
            <li id="follow-unfollow-btn">
              <% if !current_user.followed_users.include?(@user) %>
                <a id="follow-user-btn" user-id="<%= @user.id %>"><i class="material-icons">favorite_border</i>追蹤</a>
              <% else %>
                <% @user_followed_users.each do |user_followed_user| %>
                  <% if user_followed_user.followed_user_id == @user.id  %>
                    <a id="unfollow-user-btn" ufui="<%= user_followed_user.id %>"><i class="material-icons">favorite</i>取消追蹤</a>
                  <% end %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <% if @user.fb_visibility %>
				  <li><a class="facebook-link-with-icon" href="https://www.facebook.com/<%= @user.fbid %>" target="_blank">臉書</a></li>
        <% end %>
			</ul>
			<div style="clear: both;"></div>
		</div>
	</div>
	<div class="user">
		<div class="row">
			<div class="col m12 s12">
        <% if @user.organization_code == "MCU" ||  @user.organization_code == "NTHU" || @user.organization_code == "NTUST" || @user.organization_code == "NCU" || @user.organization_code =="NTUT" || @user.organization_code =="NCKU" || @user.organization_code =="NSYSU" || @user.organization_code =="NCHU" || @user.organization_code =="NTPU" || @user.organization_code =="NTNU" || @user.organization_code =="CGU" || @user.organization_code =="CCU" || @user.organization_code =="NCTU" || @user.organization_code =="NTU" || @user.organization_code =="YZU" || @user.organization_code =="TKU" || @user.organization_code =="FJU" || @user.organization_code =="SCU" || @user.organization_code =="CYCU" || @user.organization_code =="USC" || @user.organization_code =="USCKH" || @user.organization_code =="YUNTECH" || @user.organization_code =="PCCU" || @user.organization_code =="TTU" || @user.organization_code =="NUTC" || @user.organization_code =="NCCU" || @user.organization_code =="ISU"  %>

				<div class="simulator-table-field" style="min-width: 0;">
          <% if !current_user.blank? %>
            <% if @user.courses_table_visibility || current_user.id == @user.id %>
    					<table class="simulator-table">
    						<thead>
    							<tr>
    								<th></th>
    								<th>一</th>
    								<th>二</th>
    								<th>三</th>
    								<th>四</th>
    								<th>五</th>
    								<th>六</th>
    								<th>日</th>
    							</tr>
    						</thead>
    						<tbody>
    						</tbody>
    					</table>
            <% else %>
              <div class="page-error-message">
                <i class="material-icons message-icon">face</i>
                <p class="message-content">這位同學沒有開放他的課表讓其他人看到唷！很想認識他對吧？真可惜哪..</p>
              </div>
            <% end %>
          <% else %>
            <% if @user.courses_table_visibility_for_guests %>
              <table class="simulator-table">
                <thead>
                  <tr>
                    <th></th>
                    <th>一</th>
                    <th>二</th>
                    <th>三</th>
                    <th>四</th>
                    <th>五</th>
                    <th>六</th>
                    <th>日</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            <% else %>
              <div class="page-error-message">
                <i class="material-icons message-icon">face</i>
                <p class="message-content">這位同學沒有開放他的課表讓其他人看到唷！很想認識他對吧？真可惜哪..</p>
              </div>
            <% end %>
          <% end %>
				</div>

        <% else %>
          <div class="not-support-yet">
            <div class="page-error-message">
              <i class="material-icons message-icon">face</i>
              <h4 class="message-title">We are sorry..</h4>
              <p class="message-content">
                這位使用者的學校是<%= @user && @user.organization_code %><br>
                開通每間學校我們都需要時間去搜集課程資料，我們人力有限，目前 Colorgy Table 還沒有提供他們學校的服務..<br><br>
                真的是不好意思，請幫我們的工程師加油打氣，讓我們知道你希望他的學校也有這樣的服務，我們會更努力加快進行的唷！<br><br>
              </p>
              <a class="typeform-share btn btn--large" href="https://lucas51.typeform.com/to/HKPrKK" data-mode="1" target="_blank">幫 Colorgy Table 集氣</a>
              <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
            </div>
          </div>
        <% end %>



			</div>
		</div>
	</div>
</section>
<% if !current_user.blank? %>
  <% if @user.courses_table_visibility || @user.id == current_user.id %>
    <% @user_courses.each do |item| %>
    	<div class="course-hasselect-item">
    	  <div class="item-id" iid="<%= item.id %>"></div>
    	  <div class="item-course-id" icd="<%= item.course_code %>"></div>
      	</div>
    <% end %>
  <% end %>
<% else %>
  <% if @user.courses_table_visibility_for_guests %>
    <% @user_courses.each do |item| %>
      <div class="course-hasselect-item">
        <div class="item-id" iid="<%= item.id %>"></div>
        <div class="item-course-id" icd="<%= item.course_code %>"></div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if !current_user.blank? %>
  <% current_user.user_courses.each do |current_user_courses_item| %>
    <div class="current-user-course-id" icd="<%= current_user_courses_item.course_code %>"></div>
  <% end %>
<% end %>

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-title">
    <h5><span class="modal-course-name"></span> - <span class="modal-course-lecturer"></span></h5>
  </div>
  <div class="modal-content">
    <ul class="collection">
      <li class="collection-item">學分： <span class="modal-course-credits"></span></li>
      <li class="collection-item">課程代號： <span class="modal-course-general-code"></span></li>
      <li class="collection-item">課程網站： <a class="modal-course-link" href="" target="_blank">前往課程網站</a></li>
    </ul>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6"><a class="active" href="#modal-selected-users">同班同學</a></li>
          <li class="tab col s6"><a href="#modal-course-comments">課程評論</a></li>
          <!--
          <li class="tab col s4"><a href="#modal-course-wiki">課程維基</a></li>
          -->
        </ul>
      </div>
      <div id="modal-selected-users" class="col s12">
        <div class="users-on-course-list" id="users-on-course-list">
          <ul>
          </ul>
        </div>
      </div>
      <div id="modal-course-comments" class="col s12"> 
        <div id="course-comments">
        </div>
      </div>
      <!--
      <div id="modal-course-wiki" class="col s12"><p style="text-align: center;">敬請期待</p></div>
      -->
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close btn-flat" onclick="LeanOverlayClose()">關閉</a>
    <% if !current_user.blank? && @user.organization_code == current_user.organization_code  %>
      <a class="modal-action btn-flat" cid="" id="modal-add-btn" onclick="LeanOverlayClose()">加課</a>
      <a class="modal-action btn-flat" id="modal-course-comment-btn">評課</a>
    <% end %>
  </div>
</div>
<div class="course-comment-form-container" id="course-comment-form-container">
  <% if !current_user.blank?  && (current_user.organization_code == @user.organization_code) %>
    <%= render "course_comments/form" %>
  <% end %>
</div>

<script>
FetchCourseNode();

$('.close-btn').click(function(){
  $(this).parent('div').remove();
})

<% if current_user.blank? %>
  var windowPosition;
  $(window).scroll(function(){
    windowPosition = $(window).scrollTop();

    if(windowPosition > 100){
      $('.notification-banner').addClass('active').removeClass('hide');
    }else{
      $('.notification-banner').addClass('hide').removeClass('active');
    }
  })
<% end %>

function LeanOverlayClose(){
  $('div[id="lean-overlay"]').remove();
  $('div[class="lean-overlay"]').remove();
}

$('#modal-course-comment-btn').click(function(){
  $('.course-comment-form-container').addClass('active');
})
$('#course-comment-form-container-close').click(function(){
  $('.course-comment-form-container').removeClass('active');
})

$(document).on('click', '#follow-user-btn',function(){
  $('#preloader-wrapper').addClass('active');
  var user_id = $(this).attr('user-id');
  var user_name = '<%= @user.name %>';
  $.post('/user_followed_user', {"user_followed_users[followed_user_id]": user_id},
    function(response){
      var user_followed_user = response["user_followed_user"];
      var user_followed_user_id = user_followed_user["id"];
      $('#follow-user-btn').remove();
      $('<a id="unfollow-user-btn" ufui="' + user_followed_user_id +'"><i class="material-icons">favorite</i>取消追蹤</a>').appendTo('#follow-unfollow-btn');
      flash.success('成功追蹤' + user_name);
      $('#preloader-wrapper').removeClass('active');

    })
  // Post End
})

$(document).on('click', '#unfollow-user-btn',function(){
  $('#preloader-wrapper').addClass('active');
  var user_followed_user_id = $(this).attr('ufui');
  $.ajax({
    url:'/user_followed_user/' + user_followed_user_id,
    type: 'DELETE',
    success: function(response) {
      var user_id = '<%= @user.id %>';
      $('#unfollow-user-btn').remove();
      $('<a id="follow-user-btn" user-id="' + user_id +'"><i class="material-icons">favorite_border</i>追蹤</a>').appendTo('#follow-unfollow-btn');
      flash.success('已經取消追蹤');
      $('#preloader-wrapper').removeClass('active');
    }
  })
})

//
// 製作當滑鼠移到 td 上方時，底下被選的課程會從原本被堆疊的狀態展開。
// 反之，當滑鼠移開時，課程會收起來。
//
$(document).on('mouseover' ,'.simulator-table td', function(e){
	var coursecount = $(this).children('.simulator-table-course').length;
	var tdHeight = (coursecount * 35) + 16 + (coursecount - 1);
	var course_position = 0;
	var first_course_position = (coursecount / 2 - 0.5 ) * 35 * -1;
	if(coursecount >= 2){
		$(this).css({
			'height' : tdHeight + 'px'
		})
		$(this).children('.simulator-table-course:nth-child(1)').css({
			'top' : first_course_position + 'px'
		});
		for(i = 2; i <= coursecount ; i++ ){
			course_position = 8 + ((i - 1)*35) + (i - 1);
			$(this).children('.simulator-table-course:nth-child(' + i + ')').css({
				'transform' : 'rotate(0deg)',
				'-moz-transform' : 'rotate(0deg)',
				'-o-transform' : 'rotate(0deg)',
				'-ms-transform' : 'rotate(0deg)',
				'-webkit-transform' : 'rotate(0deg)',
				'top' : course_position + 'px'
			});
		}
	}
})
$(document).on('mouseout' ,'.simulator-table td',function(e){
	var coursecount = $(this).children('.simulator-table-course').length;
	if(coursecount >= 2){
		$(this).css({
			'height' : ''
		})
		$(this).children('.simulator-table-course:nth-child(1)').css({
			'top' : ''
		});
		var degreebase = 7.5;
		var degree = 0;
		for(i = 2; i <= coursecount ; i++ ){
			degree = degreebase * (i - 1);
			$(this).children('.simulator-table-course:nth-child(' + i + ')').css({
				'transform' : 'rotate(' + degree + 'deg)',
				'-moz-transform' : 'rotate(' + degree + 'deg)',
				'-o-transform' : 'rotate(' + degree + 'deg)',
				'-ms-transform' : 'rotate(' + degree + 'deg)',
				'-webkit-transform' : 'rotate(' + degree + 'deg)',
				'top' : '7.5px'
			});
		}
	}
})

// Fetch 課表的課堂節次資料

function FetchCourseNode(){

  var school_code = '<%= @user.organization_code.downcase %>';
  var getCourseUri = 'https://colorgy.io/api/v1/' + school_code + '/period_data.json';
  $.get(getCourseUri, function(data_response){

    for(i=0 ; i <= data_response.length - 1 ; i++){
      var course_node = data_response[i];
      var course_node_order = course_node.order;
      var course_node_code = course_node.code;

      $('<tr class="class' + course_node_code + '"><td>' + course_node_code + '</td><td class="M0 day1 period' + course_node_order +'"></td><td class="T0 day2 period'+ course_node_order +'"></td><td class="W0 day3 period'+ course_node_order +'"></td><td class="R0 day4 period'+ course_node_order +'"></td><td class="F0 day5 period'+ course_node_order +'"></td><td class="S0 day6 period'+ course_node_order +'"></td><td class="Sun0 day7 period'+ course_node_order +'"></td></tr>').prependTo('.simulator-table tbody');

    }
  })

}

//
// 當一個 td 底下有超過一個課程之後，加入衝堂的css狀態，並且加上堆疊效果。
//
function CourseConflictTest(){
	$('.simulator-table td').each(function(){
		var coursecount = $(this).children('.simulator-table-course').length;
		$(this).children('.simulator-table-course:nth-child(1)').removeClass('course-conflict-pack').css({
				'transform' : '',
				'-moz-transform' : '',
				'-o-transform' : '',
				'-ms-transform' : '',
				'-webkit-transform' : '',
				'top' : '0'
			});
		if (coursecount >= 2) {
			$(this).children('.simulator-table-course').addClass('course-conflict');
			var degreebase = 7.5;
			var degree = 0;
			for( i = 2; i <= coursecount ; i ++){
				degree = degreebase * (i - 1);
				$(this).children('.simulator-table-course:nth-child(' + i +')').addClass('course-conflict-pack').css({
					'transform' : 'rotate(' + degree + 'deg)',
					'-moz-transform' : 'rotate(' + degree + 'deg)',
					'-o-transform' : 'rotate(' + degree + 'deg)',
					'-ms-transform' : 'rotate(' + degree + 'deg)',
					'-webkit-transform' : 'rotate(' + degree + 'deg)'
				});
			};
		}else{
			$(this).children('.simulator-table-course:nth-child(1)').removeClass('course-conflict').css({
				'transform' : '',
				'-moz-transform' : '',
				'-o-transform' : '',
				'-ms-transform' : '',
				'-webkit-transform' : ''
			});
		}
	});
}

function splitACourse() {
  var courseHasselectItem = $('.course-hasselect-item');
  courseHasselectItem.each(function(){
    var course_code = $(this).children(".item-course-id").attr('icd');
    var school_code = '<%= @user.organization_code.try(:downcase) %>';

    var getCourseUri = 'https://colorgy.io/api/v1/'+ school_code +'/courses.json?' +
        'filter[code]=' + course_code
    $.get(getCourseUri, function(course_response){
      var course = course_response[0];
      var course_name = course.name;
      var course_lecturer = course.lecturer;
      var course_general_code = course.general_code;
      var credits = course.credits;
      var course_code = course.code;

      $(this).children('.name').html(course_name);
      $(this).children('.lecturer').html(course_lecturer);
      $(this).children('.code').html(course_general_code);
      $(this).children('.credits').html(credits);

    }.bind(this))
  });

  var courseItem = $('.course-hasselect-item');
  courseItem.each(function(){
    var school_code = '<%= @user.organization_code.downcase %>';
    var course_code = $(this).children(".item-course-id").attr('icd');
    var getCourseUri = 'https://colorgy.io/api/v1/'+ school_code +'/courses.json?' +
        'filter[code]=' + course_code;
    var item_id = $(this).children('.item-id').attr('iid');

    $.get(getCourseUri, function(course_response){

      var course = course_response[0];
      var course_name = course.name;
      var course_lecturer = course.lecturer;
      var course_general_code = course.general_code;
      var course_code = course.code;
      var credits = course.credits;


        for (var i = 1; i <= 9; i++) {
          var thisCourse_day = course['day_' + i];
          var thisCourse_period = course['period_' + i];
          var thisCourse_location = course['location_' + i];
          $('<div class="simulator-table-course active" iid="' + item_id +'" icd="' + course_code + '">' + course_name + '</div>').appendTo('.day'+ thisCourse_day + '.period' + thisCourse_period );
        };

        CourseConflictTest();
      });
  });
};

function getStatistics(){
  var male_total = 0;
  var female_total = 0;
  var credits_total = 0;

  $('.course-hasselect-item').each(function(){
    var male_counter = parseInt($(this).children('.item-course-id').attr('male-counter'));
    var female_counter = parseInt($(this).children('.item-course-id').attr('female-counter'));
    var credits_counter = parseInt($(this).children('.credits').text());
    male_total = male_total + male_counter;
    female_total = female_total + female_counter;
    credits_total = credits_total + credits_counter;
  })

  $('.credits-total').html(credits_total);
  $('.female-counter').html(female_total);
  $('.male-counter').html(male_total);
}


//
// 點選已排課表開啟 modal
//

$(document).on('click', '.simulator-table-course', function(){
  $('#preloader-wrapper').addClass('active');
  $('.course-comment').remove();
  var course_code = $(this).attr('icd');


  var ifselected = false;

  $('.item-course-id').each(function(){
    if (course_code == $(this).attr('icd')) {
      ifselected = true;
    }
  })

  var item_id = $(this).attr('iid');
  var school_code = '<%= @user.organization_code.downcase %>';
  var getCourseUri = 'https://colorgy.io/api/v1/'+ school_code + '/courses.json?' +
      'filter[code]=' + course_code;
  $.get(getCourseUri , function(course_response){
    var course = course_response[0]
    var course_name = course.name;
    var course_year = course.year;
    var course_term = course.term;
    //var course_time = course["course_time"];
    var course_lecturer = course.lecturer;
    var course_general_code = course.general_code;
    var course_organization_code = school_code.toUpperCase();
    var course_code = course.code;
    var credits = course.credits;
    var website_url = course.url;

    $('.modal-course-name').html(course_name);
    $('.modal-course-general-code').html(course_general_code);
    $('.modal-course-credits').html(credits);
    $('.modal-course-lecturer').html(course_lecturer);
    $('.modal-course-link').attr('href', website_url);
    $('#modal-del-btn').attr('iid', item_id);
    $('#modal1').attr('course-code', course_code);
    $('#modal1').attr('course-general-code', course_general_code);
    $('#modal1').attr('course-organization-code', course_organization_code);
    $('#modal1').attr('year', course_year);
    $('#modal1').attr('term', course_term);
    $('#modal1').openModal();

    var getCourseCommentsUri = '<%= search_course_comments_path %>' + '?course_general_code=' + course_general_code;


    $.get(getCourseCommentsUri , function(comments_response){
      $.each(comments_response["course_comments"], function(u, comment){
        var comment_body = comment.body;
        var comment_rating = comment.rating;
        var comment_user_id = comment.user_id;
        var comment_user_name = comment.user_name;
        var comment_user_avatar_url = comment.user_avatar_url;
        var comment_create_time = comment.created_at.substr(0,10);

        $('<div class="course-comment"><div class="user-info"><span class="user-avatar"><img src="' + comment_user_avatar_url + '"></span><span class="user-name">' + comment_user_name +'</span><div class="course-comment-rating" rating="' + comment_rating + '"></div><small>' + comment_create_time + '</small></div><div class="course-comment-body">' + comment_body +'</div></div>').appendTo('#course-comments');

      })
      CourseCommentRatingRenderStar();
      CourseCommentCounter();
    })



  });

  var getUserCourseUri = '<%= course_users_path %>/' + course_code;

  $.get(getUserCourseUri , function(users_response){
    $('#users-on-course-list li').remove();
    $.each( users_response["course_users"] , function(u, user){
      var user_avatar_url = user.avatar_url;
      var user_fb_id = user.fbid;
      var user_id = user.id;

      $('<li><a href="<%= users_path %>/' + user_id +'"><img src="' + user_avatar_url +'"></a></li>').appendTo('#users-on-course-list ul');
    })
    $('#preloader-wrapper').removeClass('active');
  });



});

//
// 從 Modal footer 中的按鈕加入課程
//

$(document).on('click', '#modal-add-btn', function(){
  $('#preloader-wrapper').addClass('active');
  course_code = $('#modal1').attr('course-code');
  course_general_code = $('#modal1').attr('course-general-code');
  course_organization_code = $('#modal1').attr('course-organization-code');
  var ifReselect = true;

  $('.current-user-course-id').each(function(){
    if (course_code == $(this).attr('icd')) {
      ifReselect = false;
    }
  })

  if(ifReselect){

    $.post('/courses_simulator', { "courses_simulator[course_code]": course_code, "courses_simulator[course_general_code]": course_general_code, "courses_simulator[course_organization_code]": course_organization_code }, function(response) {
        var item = response["item"];
        var item_id = item["id"];
        <% if !current_user.blank? %>
        var school_code = '<%= current_user.organization_code.downcase %>';
        <% end %>

        var getCourseUri = 'https://colorgy.io/api/v1/'+ school_code +'/courses.json?' +
        'filter[code]=' + course_code;

        $.get(getCourseUri , function(course_response){
          var course = course_response[0]
          var course_name = course.name;
          flash.success('"' + course_name + '" 已經加入課表！');
          $('#modal1').closeModal();
        });

        $('#preloader-wrapper').removeClass('active');

    })

  }else{
    $('#preloader-wrapper').removeClass('active');
    flash.error('這堂課已經在你的課表內囉！');
    $('#modal1').closeModal();
  }

});

splitACourse();
CourseConflictTest();
</script>
