<%= form_for :course, url: courses_path do |f| %>
  <% if @course.errors.any? %>
    <div id="errors" class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-remove"></span>
      <h6><%= pluralize(@course.errors.count, "error") %> prevented this course from saving:</h6>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.label :course_name %><br>
	<%= f.text_field :course_name %><br>
	<br>
	<%= f.label :course_time %><br>
	<%= f.text_field :course_time %><br>
	<br>
	<%= f.label :course_code %><br>
	<%= f.text_field :course_code %><br>
	<br>
	<%= f.label :lecturer_name %><br>
	<%= f.text_field :lecturer_name %><br>
	<br>
	<%= f.label :credits %><br>
	<%= f.text_field :credits %><br>
	<br>
	<%= f.label :location %><br>
	<%= f.text_field :location %><br>

  	<button class="btn waves-effect waves-light" type="submit" name="action">Submit
		<i class="mdi-content-send right"></i>
	</button>
<% end %>
