<!DOCTYPE html>
<html>
<head>
  <title>Colorgy Table - 提醒你上課的好幫手</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <% if @user && @user.simulator_image_url %>
    <meta property="og:image" content="<%= @user && @user.simulator_image_url %>"/>
    <meta property="og:url" content="<%= "https://#{request.host}#{request.fullpath}" %>" />
  <% else %>
    <meta property="og:image" content="https://<%= request.host + image_path('table-image-share.jpg') %>"/>
    <meta property="og:url" content="<%= "https://table.colorgy.io/landing-page" %>" />
  <% end %>
  <meta property="og:type" content="website" /> 
  <meta property="og:title" content="我的 Colorgy Table 上課從此變得更有樂趣" />
  <meta property="og:description" content="<%= @user && @user.name %>上 Colorgy Table 安排課表，認識更多同班同學，馬上變成排課達人！" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <script src='https://code.createjs.com/createjs-2015.05.21.min.js'></script>
</head>
<body>
<% if !current_user.blank? %>
  <% if current_user.organization_code != "MCU" &&  current_user.organization_code != "NTHU" && current_user.organization_code != "NTUST" && current_user.organization_code != "NCU" && current_user.organization_code !="NTUT" && current_user.organization_code !="NCKU" && current_user.organization_code !="NSYSU" && current_user.organization_code !="NCHU" && current_user.organization_code !="NTPU" && current_user.organization_code !="NTNU" && current_user.organization_code !="CGU" && current_user.organization_code !="CCU" && current_user.organization_code !="NCTU" && current_user.organization_code !="NTU" && current_user.organization_code !="YZU" && current_user.organization_code !="TKU" && current_user.organization_code !="FJU" && current_user.organization_code !="SCU" && current_user.organization_code !="CYCU" && current_user.organization_code !="USC" && current_user.organization_code !="USCKH" && current_user.organization_code !="YUNTECH" && current_user.organization_code !="PCCU" && current_user.organization_code !="TTU" && current_user.organization_code !="NTIT" && current_user.organization_code !="NCCU" && current_user.organization_code !="ISU" %>
    <% if current_user.organization_code != nil && current_user.organization_code != '' && current_user.organization_code != 'undefined' %>
      <% if request.path != '/not-support-yet' %>
        <script type="text/javascript">
          location.href = '/not-support-yet';
        </script>
      <% end %>
    <% else %>
        <script type="text/javascript">
          alert('您還沒有驗證學校 email，即將轉跳至 Colorgy 首頁驗證學校信箱。');
          location.href = 'https://colorgy.io/my-account/emails/new';
        </script>
    <% end %>
  <% end %>
<% end %>  
<div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '752440461479659',
        xfbml      : true,
        version    : 'v2.3'
      });
      <% if !current_user.blank? %>
        FB.Event.subscribe('edge.create', page_like_callback);
      <% end %>
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/zh_TW/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

    var page_like_callback = function(url, html_element) {
      $.ajax({
        method: 'POST',
        url: '/user_subscribed',
        dataType: 'json'
      });
    }

    // In your onload handler
    
  </script>
<%= render 'partials/navbar' %>
<%= render 'partials/flash_messages' %>
<% if !current_user.blank? %>
  <% if current_user.first_login == true %>
  <div class="celebration-container">
    <a class="celebration-close hide"><i class="material-icons" style="color: #fff; font-size: 40px !important;">close</i></a>
    <div class="page1 active">
      <div class="celebration-text">
        <h3 class="title">恭喜你獲得 50 元 Colorgy 購物金!</h3>
        <p class="description">首次進入 Colorgy 的你，我們準備了 50 元的購物金，您可以在<span class="mark-up"> 8月15號 到 8月 31號 </span> 期間，前往 <span class="mark-up">Colorgy Books</span>使用，一次買齊上課所需的教科書及用品，為即將到來的開學做好滿滿的準備！</p>
        <a class="btn btn--large" id="go-to-page2">下一步</a>
      </div>
    </div>
    <div class="page2">
      <div class="celebration-text">
        <h3 class="title">分享按讚再獲得 50 元購物金！</h3>
        <p class="description">現在就分享 Colorgy ， 讓更多同學一起來選課找同學，體驗全新大學生活！</p>
        <p><div class="fb-page" data-href="https://www.facebook.com/pages/Colorgy/1529686803975150" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="false"></div></p>
        <a class="fb-share-table-btn" id="fb-share-table-btn">分享到 Facebook</a>
      </div>
    </div>
    <div class="page3">
      <div class="celebration-text">
        <h3 class="title">恭喜你獲得全部共 100元的 Colorgy 購物金！</h3>
        <p class="description">Colorgy 團隊將會在 Colorgy Books 開通時第一時間 Mail 及 簡訊 通知同學前往使用！現在，就盡情享受新的大學生活吧！Color Your College!</p>
        <a class="btn btn--large" id="close-celebration-btn">開始進入 Table</a>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $.ajax({
      method: 'POST',
      url: '/user_first_login',
      dataType: 'json'
    });

    $('#go-to-page2').click(function(){
      $('.celebration-container .page1').removeClass('active');
      $('.celebration-container .page2').addClass('active');
      $('.celebration-close').removeClass('hide');
    })
    $('#close-celebration-btn').click(function(){
      $('.celebration-container').addClass('hide');
      $('.celebration-container').remove();
      location.reload();
    })
    $('.celebration-close').click(function(){
      $('.celebration-container').addClass('hide');
      $('.celebration-container').remove();
    })
    $('.fb-share-table-btn').click(function(){
      init_share_table();
    })
    function init_share_table() {
      _origin = "https://table.colorgy.io";

      FB.ui(
        {
          method: 'share',
          href: _origin,
        },
        // callback
        function(response) {
          if (response && !response.error_code) {
            $('.celebration-container .page2').removeClass('active');
            $('.celebration-container .page3').addClass('active');
            $.ajax({
              method: 'POST',
              url: '/user_shared',
              dataType: 'json'
            });
          } else {
            flash.error('分享失敗！請再試一次');
          }
        }
      );
    }
  </script>
  <% end %>
<% end %>
<div class="preloader-wrapper" id="preloader-wrapper">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
<div class="wrapper" id="wrapper">
  <%= yield %>
</div>

<div id="simulator-help-btn" class="simulator-help-btn">
  <a href="https://www.facebook.com/pages/Colorgy/1529686803975150" class="tooltipped" data-mode="1" target="_blank"  data-position="top" data-delay="0" data-tooltip="問題回報區，有什麼問題都可以私訊 Colorgy 粉專回報給 Colorgy"><i class="material-icons">help_outline</i></a>
</div>
<%= render 'partials/google_analytics' %>
<%= render 'partials/footer' %>
<%= javascript_include_tag 'replace_error_image_url' %>
<script type="text/javascript">
if($('#fireworks').length){
  fireworks();
}
</script>
</body>
</html>
