<!DOCTYPE html>
<html>
<head>
  <title>Colorgy Table - 提醒你上課的好幫手</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <meta property="og:image" content="<%= @user && @user.simulator_image_url %>"/>
  <meta property="og:title" content="我的 Colorgy Table 選課課表" />
  <meta property="og:type" content="article">
  <meta property="og:description" content="<%= @user && @user.name %>在 Colorgy Table 上安排課表。觀看別的同學怎麼排課、選了什麼課，馬上變成排課達人！" />
  <meta property="og:url" content="<%= "https://#{request.host}#{request.fullpath}" %>" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '752440461479659',
        xfbml      : true,
        version    : 'v2.3'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/zh_TW/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
</head>
<body>
<%= render 'partials/navbar' %>
<%= render 'partials/flash_messages' %>
<!--
<div class="navigation-bar">
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Colorgy Simulator</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="">課程總覽</a></li>
          <li><a href="<%= courses_simulator_index_path %>">選課模擬</a></li>
          <% if current_user.blank? %>
            <li><%= link_to "Sign in with Colorgy", user_omniauth_authorize_path(:colorgy) %></li>
          <% else %>
            <li class="nav-user-info">
              <a href="#">
                <div class="user-avatar">
                <%= image_tag current_user.avatar_url %>
                </div>
                <div class="user-name">
                  <%= current_user.name %>
                </div>
              </a>
            </li>
            <li>
              <%= link_to("登出", sign_out_url) %>
            </li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="">課程總覽</a></li>
          <li><a href="<%= courses_simulator_index_path %>">選課模擬</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
-->
<div class="preloader-wrapper" id="perloader-wrapper">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
<div class="wrapper" id="wrapper">
  <%= yield %>
</div>

<%= render 'partials/google_analytics' %>
<%= render 'partials/footer' %>
<%= javascript_include_tag 'replace_error_image_url' %>
<%= javascript_include_tag 'fireworks' %>
<script type="text/javascript">
if($('#fireworks').length){
  fireworks();
}
</script>
</body>
</html>
