<!DOCTYPE html>
<html>
<head>
  <title>Colorgy TABLE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
<%= render 'partials/navbar' %>
<!--
<div class="navigation-bar">
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Colorgy Simulator</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="">課程總覽</a></li>
          <li><a href="<%= courses_simulator_index_path %>">選課模擬</a></li>
          <% if current_user.blank? %>
            <li><%= link_to "Sign in with Colorgy", user_omniauth_authorize_path(:colorgy) %></li>
          <% else %>
            <li class="nav-user-info">
              <a href="#">
                <div class="user-avatar">
                <%= image_tag current_user.avatar_url %>
                </div>
                <div class="user-name">
                  <%= current_user.name %>
                </div>
              </a>
            </li>
            <li>
              <%= link_to("登出", "#{ENV['CORE_URL']}/logout") %>
            </li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="">課程總覽</a></li>
          <li><a href="<%= courses_simulator_index_path %>">選課模擬</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
-->
<p class="notice" style="display:none;"><%= notice %></p>
<p class="alert" style="display:none;"><%= alert %></p>
<!--
<div class="preloader-wrapper active">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
-->
<%= yield %>

</body>
</html>
